{% extends "base.html" %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" id="theme" href="/static/admincss/theme-dark-head-light.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/admin2.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" media="screen" />
{% endblock extra_css %}
{% block content %}
{% include "productores/menu_productores.html" %}
    <div class="fondo">
        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
            <li><a href="#">Inicio</a></li>
            <li><a href="/productores/">Productores</a></li>
            <li><a href="/productores/dashboard/">Dashboard</a></li>
            <li class="active">Caracterización de terreno</li>
        </ul>
        <!-- END BREADCRUMB -->
        <ul class="select-annos" >
            <li>
              <a >Años:</a>
            </li>

            {% for year in years.keys %}
            <li role="annos" class="{% if forloop.counter == 1 %}active{% endif %}" id="{{forloop.counter}}">
              <a href="#{{year}}" class="update" aria-controls="{{year}}" role="tab" data-toggle="tab">{{year}}</a>
            </li>
            {% endfor %}
        </ul>
        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap">


            <div class="tab-content">
                {% for year,value in years.items %}
                <div role="tabpanel" class="tab-pane {% if forloop.counter == 1 %}active{% endif %}" id="{{year}}">
                    <div class="row">

                        <div class="col-md-6">

                            <!-- START SALES BLOCK -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title-box">
                                        <h3>Textura</h3>
                                        <span>Porcentaje </span>

                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="row stacked">
                                        <div id="textura{{year}}" style="min-width: 250px; width: 540px; height:250px; margin: 0 auto;"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- END SALES BLOCK -->

                        </div>



                        <div class="col-md-6">

                            <!-- START DATATABLE EXPORT -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Textura</h3>
                                    <div class="btn-group pull-right">
                                        <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Exportar Datos</button>
                                        <ul class="dropdown-menu">

                                            <li><a onclick="exportarXLS('modalidad'); return false;" href="#"><img src='/static/img/icons/xls.png' width="24"/> XLS</a></li>

                                        </ul>
                                    </div>

                                </div>
                                <div class="panel-body">
                                      <div class="table-responsive" id="modalidad">

                                      <table id="customers2" class="table table-bordered table-hover" cellspacing="0" width="100%">
                                          <thead>
                                              <tr>
                                                  <th></th>
                                                  <th>Frecuencia</th>
                                                  <th>Procentajes</th>
                                              </tr>
                                          </thead>
                                          <tbody>
                                              {%for k,v in value.0.items %}
                                              <tr>
                                                <td>{{k}}</td>
                                                <td>{{v.textura}}</td>
                                                <td>{{v.por_textura|floatformat:"2"}}%</td>
                                              </tr>
                                              {%endfor%}
                                          </tbody>
                                      </table>
                                    </div>

                                </div>
                            </div>
                            <!-- END DATATABLE EXPORT -->


                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6">

                            <!-- START SALES BLOCK -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title-box">
                                        <h3>Pendiente</h3>
                                        <span>Porcentaje </span>

                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="row stacked">
                                        <div id="pendiente{{year}}" style="min-width: 310px; width: 540px; height:250px; margin: 0 auto;"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- END SALES BLOCK -->

                        </div>



                        <div class="col-md-6">

                            <!-- START DATATABLE EXPORT -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Pendiente</h3>
                                    <div class="btn-group pull-right">
                                        <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Exportar Datos</button>
                                        <ul class="dropdown-menu">

                                            <li><a onclick="exportarXLS('modalidad1'); return false;" href="#"><img src='/static/img/icons/xls.png' width="24"/> XLS</a></li>

                                        </ul>
                                    </div>

                                </div>
                                <div class="panel-body">
                                      <div class="table-responsive" id="modalidad1">

                                      <table class="table table-bordered table-hover" cellspacing="0" width="100%">
                                          <thead>
                                              <tr>
                                                  <th></th>
                                                  <th>Frecuencia</th>
                                                  <th>Procentajes</th>
                                              </tr>
                                          </thead>
                                          <tbody>
                                              {%for k,v in value.1.items %}
                                              <tr>
                                                <td>{{k}}</td>
                                                <td>{{v.pendiente}}</td>
                                                <td>{{v.por_pendiente|floatformat:"2"}}%</td>
                                              </tr>
                                              {%endfor%}
                                          </tbody>
                                      </table>
                                    </div>

                                </div>
                            </div>
                            <!-- END DATATABLE EXPORT -->


                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6">

                            <!-- START SALES BLOCK -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title-box">
                                        <h3>Hojarasca</h3>
                                        <span>Porcentaje </span>

                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="row stacked">
                                        <div id="hojarasca{{year}}" style="min-width: 310px; width: 540px; height:250px; margin: 0 auto;"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- END SALES BLOCK -->

                        </div>



                        <div class="col-md-6">

                            <!-- START DATATABLE EXPORT -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Hojarasca</h3>
                                    <div class="btn-group pull-right">
                                        <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Exportar Datos</button>
                                        <ul class="dropdown-menu">

                                            <li><a onclick="exportarXLS('modalidad2'); return false;" href="#"><img src='/static/img/icons/xls.png' width="24"/> XLS</a></li>

                                        </ul>
                                    </div>

                                </div>
                                <div class="panel-body">
                                      <div class="table-responsive" id="modalidad2">

                                      <table id="customers2" class="table table-bordered table-hover" cellspacing="0" width="100%">
                                          <thead>
                                              <tr>
                                                  <th></th>
                                                  <th>Frecuencia</th>
                                                  <th>Procentajes</th>
                                              </tr>
                                          </thead>
                                          <tbody>
                                              {%for k,v in value.2.items %}
                                              <tr>
                                                <td>{{k}}</td>
                                                <td>{{v.hojarasca}}</td>
                                                <td>{{v.por_hojarasca|floatformat:"2"}}%</td>
                                              </tr>
                                              {%endfor%}
                                          </tbody>
                                      </table>
                                    </div>

                                </div>
                            </div>
                            <!-- END DATATABLE EXPORT -->


                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6">

                            <!-- START SALES BLOCK -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title-box">
                                        <h3>Profundidad</h3>
                                        <span>Porcentaje </span>

                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="row stacked">
                                        <div id="profundidad{{year}}" style="min-width: 310px; width: 540px; height:250px; margin: 0 auto;"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- END SALES BLOCK -->

                        </div>



                        <div class="col-md-6">

                            <!-- START DATATABLE EXPORT -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Profundidad</h3>
                                    <div class="btn-group pull-right">
                                        <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Exportar Datos</button>
                                        <ul class="dropdown-menu">

                                            <li><a onclick="exportarXLS('modalidad3'); return false;" href="#"><img src='/static/img/icons/xls.png' width="24"/> XLS</a></li>

                                        </ul>
                                    </div>

                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive" id="modalidad3">
                                          <table id="customers2" class="table table-bordered table-hover" cellspacing="0" width="100%">
                                              <thead>
                                                  <tr>
                                                      <th></th>
                                                      <th>Frecuencia</th>
                                                      <th>Procentajes</th>
                                                  </tr>
                                              </thead>
                                              <tbody>
                                                  {%for k,v in value.3.items %}
                                                  <tr>
                                                    <td>{{k}}</td>
                                                    <td>{{v.profundidad}}</td>
                                                    <td>{{v.por_profundidad|floatformat:"2"}}%</td>
                                                  </tr>
                                                  {%endfor%}
                                              </tbody>
                                          </table>
                                    </div>

                                </div>
                            </div>
                            <!-- END DATATABLE EXPORT -->


                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6">

                            <!-- START SALES BLOCK -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title-box">
                                        <h3>Profundidad</h3>
                                        <span>Porcentaje </span>

                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="row stacked">
                                        <div id="drenaje{{year}}" style="min-width: 310px; width: 540px; height:250px; margin: 0 auto;"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- END SALES BLOCK -->

                        </div>



                        <div class="col-md-6">

                            <!-- START DATATABLE EXPORT -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Drenaje</h3>
                                    <div class="btn-group pull-right">
                                        <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Exportar Datos</button>
                                        <ul class="dropdown-menu">

                                            <li><a onclick="exportarXLS('modalidad4'); return false;" href="#"><img src='/static/img/icons/xls.png' width="24"/> XLS</a></li>

                                        </ul>
                                    </div>

                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive" id="modalidad4">
                                        <table  id="customers2" class="table table-bordered table-hover" cellspacing="0" width="100%">
                                          <caption></caption>
                                          <thead>
                                              <tr>
                                                  <th></th>
                                                  <th>Frecuencia</th>
                                                  <th>Procentajes</th>
                                              </tr>
                                          </thead>
                                          <tbody>
                                              {%for k,v in value.4.items %}
                                              <tr>
                                                <td>{{k}}</td>
                                                <td>{{v.drenaje}}</td>
                                                <td>{{v.por_drenaje|floatformat:"2"}}%</td>
                                              </tr>
                                              {%endfor%}
                                          </tbody>
                                      </table>
                                    </div>

                                </div>
                            </div>
                            <!-- END DATATABLE EXPORT -->


                        </div>
                    </div>



                 <!--  Área total de cacao expresado en Manzanas: {{value.5}}<br>
                  Promedio de Mz de cacao cultivado por productor: {{value.6}}<br>-->




                </div>
                {% endfor %}
            </div>





        </div>
        <!-- END PAGE CONTENT WRAPPER -->
    </div>

{% include "productores/footer.html" %}
{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
$(function () {

    $(document).ready(function () {
      {% for year,value in years.items %}
      // Build the chart
      $('#textura{{year}}').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Textura'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: [
                'Textura',

            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Porcentajes (%)'
            }
        },
        tooltip: {
                pointFormat: '{series.name}: <b>{point.y:.2f}%</b>'
            },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.2f}%',
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                    style: {
                        textShadow: '0 0 3px white'
                    }
                }
            }
        },
        series: [
        {% for k,v in value.0.items %}
           {
            name: '{{k}}',
            data: [{{v.por_textura}},]

        },
        {% endfor %}
       ]
      });

    $('#pendiente{{year}}').highcharts({
      chart: {
          type: 'column'
      },
      title: {
          text: 'Pendiente'
      },
      subtitle: {
          text: ''
      },
      xAxis: {
          categories: [
              'Pendiente',

          ],
          crosshair: true
      },
      yAxis: {
          min: 0,
          title: {
              text: 'Porcentajes (%)'
          }
      },
      tooltip: {
              pointFormat: '{series.name}: <b>{point.y:.2f}%</b>'
          },
      legend: {
          layout: 'vertical',
          align: 'right',
          verticalAlign: 'middle',
          borderWidth: 0
      },
      plotOptions: {
          series: {
              borderWidth: 0,
              dataLabels: {
                  enabled: true,
                  format: '{point.y:.2f}%',
                  color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                  style: {
                      textShadow: '0 0 3px white'
                  }
              }
          }
      },
      series: [
      {% for k,v in value.1.items %}
         {
          name: '{{k}}',
          data: [{{v.por_pendiente}},]

      },
      {% endfor %}
     ]
    });

    $('#hojarasca{{year}}').highcharts({
      chart: {
          type: 'column'
      },
      title: {
          text: 'Hojarasca'
      },
      subtitle: {
          text: ''
      },
      xAxis: {
          categories: [
              'Hojarasca',

          ],
          crosshair: true
      },
      yAxis: {
          min: 0,
          title: {
              text: 'Porcentajes (%)'
          }
      },
      tooltip: {
              pointFormat: '{series.name}: <b>{point.y:.2f}%</b>'
          },
      legend: {
          layout: 'vertical',
          align: 'right',
          verticalAlign: 'middle',
          borderWidth: 0
      },
      plotOptions: {
          series: {
              borderWidth: 0,
              dataLabels: {
                  enabled: true,
                  format: '{point.y:.2f}%',
                  color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                  style: {
                      textShadow: '0 0 3px white'
                  }
              }
          }
      },
      series: [
      {% for k,v in value.2.items %}
         {
          name: '{{k}}',
          data: [{{v.por_hojarasca}},]

      },
      {% endfor %}
     ]
    });

    $('#profundidad{{year}}').highcharts({
      chart: {
          type: 'column'
      },
      title: {
          text: 'Profundidad'
      },
      subtitle: {
          text: ''
      },
      xAxis: {
          categories: [
              'Profundidad',

          ],
          crosshair: true
      },
      yAxis: {
          min: 0,
          title: {
              text: 'Porcentajes (%)'
          }
      },
      tooltip: {
              pointFormat: '{series.name}: <b>{point.y:.2f}%</b>'
          },
      legend: {
          layout: 'vertical',
          align: 'right',
          verticalAlign: 'middle',
          borderWidth: 0
      },
      plotOptions: {
          series: {
              borderWidth: 0,
              dataLabels: {
                  enabled: true,
                  format: '{point.y:.2f}%',
                  color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                  style: {
                      textShadow: '0 0 3px white'
                  }
              }
          }
      },
      series: [
      {% for k,v in value.3.items %}
         {
          name: '{{k}}',
          data: [{{v.por_profundidad}},]

      },
      {% endfor %}
     ]
    });

    $('#drenaje{{year}}').highcharts({
      chart: {
          type: 'column'
      },
      title: {
          text: 'Drenaje'
      },
      subtitle: {
          text: ''
      },
      xAxis: {
          categories: [
              'Drenaje',

          ],
          crosshair: true
      },
      yAxis: {
          min: 0,
          title: {
              text: 'Porcentajes (%)'
          }
      },
      tooltip: {
              pointFormat: '{series.name}: <b>{point.y:.2f}%</b>'
          },
      legend: {
          layout: 'vertical',
          align: 'right',
          verticalAlign: 'middle',
          borderWidth: 0
      },
      plotOptions: {
          series: {
              borderWidth: 0,
              dataLabels: {
                  enabled: true,
                  format: '{point.y:.2f}%',
                  color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                  style: {
                      textShadow: '0 0 3px white'
                  }
              }
          }
      },
      series: [
      {% for k,v in value.4.items %}
         {
          name: '{{k}}',
          data: [{{v.por_drenaje}},]

      },
      {% endfor %}
     ]
    });
    {% endfor %}
  });
});
</script>
{% endblock extra_js %}
