
{% extends "base.html" %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" id="theme" href="/static/admincss/theme-dark-head-light.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/admin2.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" media="screen" />



{% endblock extra_css %}
{% block extra_js %}
    <link rel="stylesheet" href="/static/css/bootstrap-multiselect.css" type="text/css"/>
    <script type="text/javascript" src="/static/js/bootstrap-multiselect.js"></script>
      <script>
  $(document).ready(function() {
      $('#id_year').multiselect({
          buttonWidth: '250px',
          includeSelectAllOption: true,
          selectAllText: 'Seleccionar todos',
          buttonText: function(options, select) {
                  if (options.length === 0) {
                      return 'Sin selección ...';
                  }
                  else if (options.length > 3) {
                      return 'Varias opciones seleccionadas!';
                  }
                   else {
                       var labels = [];
                       options.each(function() {
                           if ($(this).attr('label') !== undefined) {
                               labels.push($(this).attr('label'));
                           }
                           else {
                               labels.push($(this).html());
                           }
                       });
                       return labels.join(', ') + '';
                   }
              }
      });

      $('#id_socio').multiselect({
          buttonWidth: '250px',
      });

      $('#id_organizacion').multiselect({
          buttonWidth: '250px',
          maxHeight: 250,
          includeSelectAllOption: true,
          selectAllText: 'Seleccionar todos',
          buttonText: function(options, select) {
                  if (options.length === 0) {
                      return 'Sin selección ...';
                  }
                  else if (options.length > 3) {
                      return 'Varias opciones seleccionadas!';
                  }
                   else {
                       var labels = [];
                       options.each(function() {
                           if ($(this).attr('label') !== undefined) {
                               labels.push($(this).attr('label'));
                           }
                           else {
                               labels.push($(this).html());
                           }
                       });
                       return labels.join(', ') + '';
                   }
              }
      });
      $('#id_departamento').multiselect({
          buttonWidth: '250px',
          maxHeight: 250,
          includeSelectAllOption: true,
          selectAllText: 'Seleccionar todos',
          buttonText: function(options, select) {
              if (options.length === 0) {
                  return 'Sin selección ...';
              }
              else if (options.length > 3) {
                  return 'Varias opciones seleccionadas!';
              }
               else {
                   var labels = [];
                   options.each(function() {
                       if ($(this).attr('label') !== undefined) {
                           labels.push($(this).attr('label'));
                       }
                       else {
                           labels.push($(this).html());
                       }
                   });
                   return labels.join(', ') + '';
               }
          }
      });
      $('#id_municipio').multiselect({
          enableCollapsibleOptGroups: true,
          buttonWidth: '250px',
          maxHeight: 250,
          includeSelectAllOption: true,
          selectAllText: 'Seleccionar todos',
          buttonText: function(options, select) {
              if (options.length === 0) {
                  return 'Sin selección ...';
              }
              else if (options.length > 3) {
                  return 'Varias opciones seleccionadas!';
              }
               else {
                   var labels = [];
                   options.each(function() {
                       if ($(this).attr('label') !== undefined) {
                           labels.push($(this).attr('label'));
                       }
                       else {
                           labels.push($(this).html());
                       }
                   });
                   return labels.join(', ') + '';
               }
          }
      });
      $("#id_municipio").multiselect('disable');
      // $("#id_organizacion").multiselect('disable');
  });


  var foo = [];
  $(document).on('change','#id_departamento',function(){

      $('#id_departamento :selected').each(function(i, selected){
          foo[i] = $(selected).val();
      });
      $.getJSON('/productores/ajax/munis/?ids='+foo.join(","), function(data){
          $('#id_municipio').html('');
          $('#id_municipio').multiselect('enable');
          var municipio = $('#id_municipio')
          if(data){

             $.each(data, function(i, item){
              $.each(item, function(j, item2){
                  var group = $('<optgroup></optgroup>').attr('label', j);
                  $.each(item2, function(k, item3){
                      group.append($('<option></option>').val(item3.id).html(item3.nombre));
                  });
                  group.appendTo(municipio);
                  $('#id_municipio').multiselect('rebuild');
              });
          });
         }
     });
  //    $.getJSON('/productores/ajax/organi/?ids='+foo.join(","), function(data){
  //       $('#id_organizacion').html('');
  //       $("#id_organizacion").multiselect('enable');
  //       var organizacion = $('#id_organizacion')
  //       if(data){
  //           $.each(data, function(i, item){
  //               organizacion.append($('<option></option>').val(item.id).html(item.nombre));
  //           });
  //           organizacion.multiselect('rebuild');
  //      }
  //  });
  });

  var foo2 = [];
  $(document).on('change','#id_municipio',function(){

      $('#id_municipio :selected').each(function(i, selected){
          foo2[i] = $(selected).val();
      });
      $.getJSON('/productores/ajax/comunies/?ids='+foo2.join(","), function(data){
          $('#id_comunidad').html('');
          $("#id_comunidad").prop("disabled", false);
          if(data){
              $.each(data, function(i, item){
                  $('#id_comunidad').append($('<option></option>').val(item.id).html(item.nombre));
                  });
         }
     });
  });
  </script>


<!-- START SCRIPTS -->
        <!-- START PLUGINS -->

        <!-- END PLUGINS -->

        <script type="text/javascript" src="/static/adminjs/plugins/moment.min.js"></script>
        <script type="text/javascript" src="/static/adminjs/plugins/bootstrap/bootstrap-select.js"></script>


        <!-- END THIS PAGE PLUGINS-->

        <!-- START TEMPLATE -->

    <!-- END SCRIPTS -->
{% endblock extra_js %}

  {% block content %}
<!-- START PAGE CONTAINER -->
<nav class="navbar navbar-default navbar-fixed-top main-menu" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="/static/img/logo.png" alt=""></a>
        </div>
        <ul class="nav navbar-nav">
        </ul>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Inicio</a></li>
                {% if user.is_authenticated %}
                {% if user.is_superuser %}<li><a href="/organizaciones/">Organizaciones</a></li>{% endif %}
                    <li><a href="/admin">Administrar</a></li>
                    <li><a href="">Manual PDF</a></li>
                    <li>
                        <a href="/logout/">
                            <span class="fa fa-sign-out"></span> Cerrar Sesión
                        </a>
                    </li>
                {% else %}
                    <li><a href="/admin">Iniciar Sesión</a></li>

                {% endif %}

            </ul>
        </div>
    </div>
</nav>
                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">

                    <div class="row fondo">
                    <!-- START BREADCRUMB -->
                    <ul class="breadcrumb">
                        <li><a href="/">Inicio</a></li>
                        <li class="active">Productores</li>
                    </ul>
                    <!-- END BREADCRUMB -->
                        <div class="col-md-12 consulta">

                            <form class="form-horizontal" action="." method="post">{% csrf_token %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><strong>Consulta Productor</strong></h3>

                                </div>

                                <div class="panel-body">

                                    <div class="row">

                                        <div class="col-md-6">

                                            <div class="form-group">
                                                <label class="col-md-3 control-label"><strong>Años *</strong></label>
                                                <div class="col-md-9">
                                                    {{form.year}}
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Departamento</label>
                                                <div class="col-md-9">
                                                    {{form.departamento}}
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Municipio</label>
                                                <div class="col-md-9">
                                                    {{form.municipio}}
                                                </div>
                                            </div>


                                        </div>
                                        <div class="col-md-6">

                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Organización</label>
                                                <div class="col-md-9">
                                                    {{form.organizacion}}
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Socio</label>
                                                <div class="col-md-9">
                                                    {{form.socio}}
                                                </div>
                                            </div>



                                        </div>

                                    </div>

                                </div>
                                <div class="panel-footer">
                                    <a class="btn btn-default" href="/productores/">Limpiar</a>
                                    <input class="btn btn-primary pull-right" type="submit" value="Consultar" name="consulta"/>
                                </div>
                            </div>
                            </form>

                        </div>
                    </div>

                </div>
                <!-- END PAGE CONTENT WRAPPER -->
                <!-- ./page container -->
{% include "productores/footer.html" %}

{% endblock content %}
