{% extends "base.html" %}
{% load helpertags %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" id="theme" href="/static/admincss/theme-dark-head-light.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/admin2.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" media="screen" />

    

{% endblock extra_css %}
{% block content %}

<div class="fondo">
        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>                    
            <li class="active">Dashboard</li>
        </ul>
        <!-- END BREADCRUMB -->                       
        
        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap">
            
            
            <div class="tab-content">
                {% for year,value in years.items %}
                <div role="tabpanel" class="tab-pane {% if forloop.counter == 1 %}active{% endif %}" id="{{year}}">

                    <div class="row">
                
                        <div class="col-md-6">
                            
                            <!-- START SALES BLOCK -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title-box">
                                        <h3>Miembros del hogar hombres con algún tipo de escolaridad.</h3>
                                        <span>Total </span>
                                        
                                    </div>
                                </div>
                                <div class="panel-body">                                    
                                    <div class="row stacked">
                                        <div id="educacion_hombres{{year}}" style="min-width: 310px; width: 540px; margin: 0 auto;"></div>

                                    </div>                                    
                                </div>
                            </div>
                            <!-- END SALES BLOCK -->
                            
                        </div>
                        <div class="col-md-6">
                            
                            <!-- START SALES BLOCK -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title-box">
                                        <h3>Miembros del hogar mujeres con algún tipo de escolaridad.</h3>
                                        <span>Total</span>
                                    </div>
                                </div>
                                <div class="panel-body">                                    
                                    <div class="row stacked">
                                        
                                        <div id="educacion_mujeres{{year}}" style="min-width: 310px; width: 540px; margin: 0 auto;"></div>

                                    </div>                                    
                                </div>
                            </div>
                            <!-- END SALES BLOCK -->
                            
                        </div>
                        <div class="row">
	                        <div class="col-md-12">
	                            
	                            <!-- START DATATABLE EXPORT -->
	                            <div class="panel panel-default">
	                                <div class="panel-heading">
	                                    <h3 class="panel-title">Escolaridad hombres</h3>
	                                    <div class="btn-group pull-right">
	                                        <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Exportar Datos</button>
	                                        <ul class="dropdown-menu">
	                                          
	                                            <li><a href="#" onclick="exportarXLS('modalidad'); return false;"><img src='/static/img/icons/xls.png' width="24"/> XLS</a></li>
	                                            
	                                            
	                                        </ul>
	                                    </div>                                    
	                                    
	                                </div>
	                                <div class="panel-body">
	                               
	                                    <div class="table-responsive" id="modalidad">
	                                    	<table id="customers2"  class="table table-bordered table-hover" cellspacing="0" width="100%">
	                                    	
	                                    		<thead>
	                                    			<tr>
	                                    				<th>Edades</th>
	                                    				<th>Número total</th>
	                                    				<th>No sabe leer %</th>
	                                    				<th>Primaria incompleta %</th>
	                                    				<th>Primaria completa %</th>
	                                    				<th>Secundaria incompleta %</th>
	                                    				<th>Bachiller %</th>
	                                    				<th>Universitario %</th>
	                                    			</tr>
	                                    		</thead>
	                                    		<tbody>
	                                    			{%for fila in value.4 %}
	                                    			<tr>
	                                    				{%for celda in fila %}
	                                    				<td>{{celda|default:'0'}}</td>
	                                    				{%endfor%}
	                                    			</tr>
	                                    			{%endfor%}
	                                    		</tbody>
	                                    	</table>
	                                  </div>                                    
	                                    
	                                </div>
	                            </div>
	                            <!-- END DATATABLE EXPORT -->                            
	                            

	                        </div>
                    	</div>
                    	<div class="row">
	                        <div class="col-md-12">
	                            
	                            <!-- START DATATABLE EXPORT -->
	                            <div class="panel panel-default">
	                                <div class="panel-heading">
	                                    <h3 class="panel-title">Escolaridad Mujeres</h3>
	                                    <div class="btn-group pull-right">
	                                        <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Exportar Datos</button>
	                                        <ul class="dropdown-menu">
	                                          
	                                            <li><a href="#" onclick="exportarXLS('modalidad1'); return false;"><img src='/static/img/icons/xls.png' width="24"/> XLS</a></li>
	                                            
	                                            
	                                        </ul>
	                                    </div>                                    
	                                    
	                                </div>
	                                <div class="panel-body">
	                               
	                                    <div class="table-responsive" id="modalidad1">
	                                    	<table class="table table-bordered table-hover" cellspacing="0" width="100%">
								          
								                <thead>
								                    <tr>
								                        <th>Edades</th>
								                        <th>Número total</th>
								                        <th>No sabe leer %</th>
								                        <th>Primaria incompleta %</th>
								                        <th>Primaria completa %</th>
								                        <th>Secundaria incompleta %</th>
								                        <th>Bachiller %</th>
								                        <th>Universitario %</th>
								                    </tr>
								                </thead>
								                <tbody>
								                    {%for fila in value.5 %}
								                    <tr>
								                        {%for celda in fila %}
								                        <td>{{celda|default:'0'}}</td>
								                        {%endfor%}
								                    </tr>
								                    {%endfor%}
								                </tbody>
								            </table>
	                                  </div>                                    
	                                    
	                                </div>
	                            </div>
	                            <!-- END DATATABLE EXPORT -->                            
	                            

	                        </div>
                    	</div>

                    </div>
                  
                  
                  
                 <!--  Área total de cacao expresado en Manzanas: {{value.5}}<br>
                  Promedio de Mz de cacao cultivado por productor: {{value.6}}<br>-->
                  
                  
                  

                </div>
                {% endfor %}
            </div>                    
            
            
            

            
        </div>
        <!-- END PAGE CONTENT WRAPPER -->   
</div>





















{% include "productores/filtros.html" %}
<div id="tabs">
  <!-- Nav tabs -->
  <ul class="nav" role="navegacion">
    <li role="titulo">
      <a >Años:</a>
    </li>

    {% for year in years.keys %}
    <li role="annos" class="{% if forloop.counter == 1 %}active{% endif %}" id="{{forloop.counter}}">
      <a href="#{{year}}" class="update" aria-controls="{{year}}" role="tab" data-toggle="tab">{{year}}</a>
    </li>
    {% endfor %}
  </ul>


  </div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
{% for year,value in years.items %}
$(function () {
$('#educacion_hombres{{year}}').highcharts({
   chart: {
       type: 'column'
   },
   title: {
       text: 'Miembros del hogar hombres con algún tipo de escolaridad. Total de personas({{value.0}})'
   },
   yAxis: {
       title: {
           text: 'Valores'
       }
   },
   credits: {
       enabled: false
   },
   yAxis: {
           min: 0,
           title: {
               text: 'Porcentajes (%)'
           }
       },
       tooltip: {
           formatter: function() {
               return ''+
                   this.series.name +': '+ this.y +'%';
           }
       },
   series: [
           {% for k,v in value.1.items %}
           {
               name: '{{k|capfirst|clean}} ({{v}})',
               data: [{{v|percentage:value.0|floatformat:2}}],
               dataLabels: {
                   enabled: true,
                   rotation: 0,
                   color: '#632D00',
                   align: 'center',
                   x: -3,
                   y: 0,
                       formatter: function() {
                           return this.y + '%';
                                             },
                   style: {
                       font: 'normal 13px Verdana, sans-serif'
                           }
                           }
           },
           {% endfor %}
           ]
});
});

$(function () {
$('#educacion_mujeres{{year}}').highcharts({
   chart: {
       type: 'column'
   },
   title: {
       text: 'Miembros del hogar mujeres con algún tipo de escolaridad. Total de personas({{value.2}})'
   },
   yAxis: {
       title: {
           text: 'Valores'
       }
   },
   credits: {
       enabled: false
   },
   yAxis: {
           min: 0,
           title: {
               text: 'Porcentajes (%)'
           }
       },
       tooltip: {
           formatter: function() {
               return ''+
                   this.series.name +': '+ this.y +'%';
           }
       },
   series: [
           {% for k,v in value.3.items %}
           {
               name: '{{k|capfirst|clean}} ({{v}})',
               data: [{{v|percentage:value.2|floatformat:2}}],
               dataLabels: {
                   enabled: true,
                   rotation: 0,
                   color: '#632D00',
                   align: 'center',
                   x: -3,
                   y: 0,
                       formatter: function() {
                           return this.y + '%';
                                             },
                   style: {
                       font: 'normal 13px Verdana, sans-serif'
                           }
                           }
           },
           {% endfor %}
           ]
});
});
{% endfor %}
</script>
{% endblock extra_js %}
