                <!-- page footer -->
                <div class="page-footer">


                    <!-- page footer wrap -->
                    <div class="page-footer-wrap bg-darken-gray final">
                        <!-- page footer holder -->
                        <div class="page-footer-holder">
                            
                            <!-- copyright -->
                            <div class="copyright">
                            Tel: (504) 2669 3912, (504) 2669 3400, cacaohonduras@aprocacaho.com  &copy; Copyright. APROCACAHO
                              
                            </div>
                            <!-- ./copyright -->
                            
                            <!-- social links -->
                            <div class="simas">
                                <span>Desarrollado por <a href="http://simas.org.ni/">SIMAS</a></span>
                            </div>                        
                            <!-- ./social links -->
                            
                        </div>
                        <!-- ./page footer holder -->
                    </div>
                    <!-- ./page footer wrap -->
                    
                </div>
                <!-- ./page footer -->                              

        <!-- END PAGE CONTAINER -->

