                <!-- page footer -->
                <div class="page-footer">


                    <!-- page footer wrap -->
                    <div class="page-footer-wrap bg-darken-gray final">
                        <!-- page footer holder -->
                        <div class="page-footer-holder">
                            
                            <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <!-- copyright -->
                            <div class="copyright">
                            Tel: (504) 2669 3912, (504) 2669 3400, cacaohonduras@aprocacaho.com  &copy; Copyright. APROCACAHO

                            </div>
                            <!-- ./copyright -->
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <!-- social links -->
                            <div class="simas">
                                Sistema desarrollado por <a href="http://simas.org.ni/">SIMAS</a>. El ingreso y actualización de la información es responsabilidad de APROCACAHO, así como el contenido de la misma.
                            </div>
                            <!-- ./social links -->
                        </div>
                    </div>
                            
                        </div>
                        <!-- ./page footer holder -->
                    </div>
                    <!-- ./page footer wrap -->
                    
                </div>
                <!-- ./page footer -->                              

        <!-- END PAGE CONTAINER -->

