{% extends "base.html" %}
{% load humanize %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" id="theme" href="/static/admincss/theme-dark-head-light.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/admin2.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" media="screen" />
{% endblock extra_css %}
{% block content %}
{% include "productores/menu_productores.html" %}
<style media="screen">
.widget-subtitle, .widget-int {
  width: 50% !important;
}
</style>
    <div class="fondo">
        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
            <li><a href="/">Inicio</a></li>
            <li><a href="/productores/">Productores</a></li>
            <li><a href="/productores/dashboard/">Dashboard</a></li>
            <li class="active">Género</li>
        </ul>
        <!-- END BREADCRUMB -->
        <ul class="select-annos" >
            <li>
              <a >Años:</a>
            </li>

            {% for year in years.keys %}
            <li role="annos" class="{% if forloop.counter == 1 %}active{% endif %}" id="{{forloop.counter}}">
              <a href="#{{year}}" class="update" aria-controls="{{year}}" role="tab" data-toggle="tab">{{year}}</a>
            </li>
            {% endfor %}
        </ul>
        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap">


            <div class="tab-content">
                {% for year,value in years.items %}
                <div role="tabpanel" class="tab-pane {% if forloop.counter == 1 %}active{% endif %}" id="{{year}}">
                    <!-- START WIDGETS -->
                    <div class="row">

                        <div class="col-md-offset-1 col-md-5">

                            <!-- START WIDGET MESSAGES -->
                            <div class="item widget widget-default widget-item-icon" >
                                <div>
                                    <div class="widget-title">Ingreso mensual de solo cacao (Lps)</div>
                                    <div class="widget-subtitle">Total</div><div class="widget-subtitle">Promedio</div>
                                    <div class="widget-int">{{value.4|floatformat:2|intcomma}}</div><div class="widget-int">{{value.5|floatformat:2|intcomma}}</div>
                                </div>
                            </div>
                            <!-- END WIDGET MESSAGES -->

                        </div>
                        <div class="col-md-5">
                            <!-- START WIDGET MESSAGES -->
                            <div class="item widget widget-default widget-item-icon" >
                                <div>
                                    <div class="widget-title">Ingreso mensual todas las actividades (Lps)</div>
                                    <div class="widget-subtitle">Total</div><div class="widget-subtitle">Promedio</div>
                                    <div class="widget-int">{{value.6|floatformat:2|intcomma}}</div><div class="widget-int">{{value.7|floatformat:2|intcomma}}</div>
                                </div>

                            </div>
                            <!-- END WIDGET MESSAGES -->


                        </div>

                    </div>
                    <!-- END WIDGETS -->
                    <div class="row">

                        <div class="col-md-6">

                            <!-- START SALES BLOCK -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title-box">
                                        <h3>Participación la mujer en la producción de cacao</h3>
                                        <span>Porcentaje </span>

                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="row stacked">
                                       <div id="participacion{{year}}" style="min-width: 310px; width: 540px; margin: 0 auto;"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- END SALES BLOCK -->

                        </div>
                        <div class="col-md-6">

                            <!-- START SALES BLOCK -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title-box">
                                        <h3>Toma de decisión sobre destino de producción de cacao</h3>
                                        <span>Porcentaje </span>

                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="row stacked">
                                        <div id="decisiones{{year}}" style="min-width: 310px; width: 540px; margin: 0 auto;"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- END SALES BLOCK -->

                        </div>
                        <div class="col-md-6">

                            <!-- START SALES BLOCK -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title-box">
                                        <h3>¿Recibe ingresos por actividades que realiza?</h3>
                                        <span>Porcentaje </span>

                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="row stacked">
                                       <div id="otros_ingresos{{year}}" style="min-width: 310px; width: 540px; margin: 0 auto;"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- END SALES BLOCK -->

                        </div>
                        <div class="col-md-6">

                            <!-- START SALES BLOCK -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title-box">
                                        <h3>Cuenta con un contrato de venta</h3>
                                        <span>Porcentaje </span>

                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="row stacked">
                                        <div id="ingresos{{year}}" style="min-width: 310px; width: 540px; margin: 0 auto;"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- END SALES BLOCK -->

                        </div>
                        <div class="col-md-6">

                            <!-- START SALES BLOCK -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title-box">
                                        <h3>Destino de los ingresos percibidos</h3>
                                        <span>Porcentaje </span>

                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="row stacked">
                                        <div id="destino{{year}}" style="min-width: 310px; width: 540px; margin: 0 auto;"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- END SALES BLOCK -->

                        </div>




                    </div>



                 <!--  Área total de cacao expresado en Manzanas: {{value.5}}<br>
                  Promedio de Mz de cacao cultivado por productor: {{value.6}}<br>-->




                </div>
                {% endfor %}
            </div>





        </div>
        <!-- END PAGE CONTENT WRAPPER -->
    </div>
{% include "productores/footer.html" %}


{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
$(function () {
  {% for year,value in years.items %}
$('#participacion{{year}}').highcharts({
  chart: {
    type: 'column'
  },
  title: {
    text: 'Participación la mujer en la producción de cacao'
  },

  yAxis: {
      title: {
          text: 'Valores'
      }
  },
  credits: {
      enabled: false
  },
  yAxis: {
          min: 0,
          title: {
              text: 'Porcentajes (%)'
          }
      },
      tooltip: {
          formatter: function() {
              return ''+
                  this.series.name +': '+ this.y +'%';
          }
      },
  series: [
          {% for k,v in value.0.items %}
          {
              name: '{{k}} ({{v.0}})',
              data: [{{v.1}}],
              dataLabels: {
                  enabled: true,
                  rotation: 0,
                  color: '#632D00',
                  align: 'center',
                  x: -3,
                  y: 0,
                      formatter: function() {
                          return this.y + '%';
                                            },
                  style: {
                      font: 'normal 13px Verdana, sans-serif'
                          }
                          }
          },
          {% endfor %}
          ]
});

$('#decisiones{{year}}').highcharts({
  chart: {
    type: 'column'
  },
  title: {
    text: 'Toma de decisión sobre destino de producción de cacao'
  },

  yAxis: {
      title: {
          text: 'Valores'
      }
  },
  credits: {
      enabled: false
  },
  yAxis: {
          min: 0,
          title: {
              text: 'Porcentajes (%)'
          }
      },
      tooltip: {
          formatter: function() {
              return ''+
                  this.series.name +': '+ this.y +'%';
          }
      },
  series: [
          {% for k,v in value.1.items %}
          {
              name: '{{k}} ({{v.0}})',
              data: [{{v.1}}],
              dataLabels: {
                  enabled: true,
                  rotation: 0,
                  color: '#632D00',
                  align: 'center',
                  x: -3,
                  y: 0,
                      formatter: function() {
                          return this.y + '%';
                                            },
                  style: {
                      font: 'normal 13px Verdana, sans-serif'
                          }
                          }
          },
          {% endfor %}
          ]
});

$('#otros_ingresos{{year}}').highcharts({
  chart: {
    type: 'column'
  },
  title: {
    text: 'Otras fuentes de ingreso de la finca'
  },

  yAxis: {
      title: {
          text: 'Valores'
      }
  },
  credits: {
      enabled: false
  },
  yAxis: {
          min: 0,
          title: {
              text: 'Porcentajes (%)'
          }
      },
      tooltip: {
          formatter: function() {
              return ''+
                  this.series.name +': '+ this.y +'%';
          }
      },
  series: [
          {% for k,v in value.2.items %}
          {
              name: '{{k}} ({{v.0}})',
              data: [{{v.1}}],
              dataLabels: {
                  enabled: true,
                  rotation: 0,
                  color: '#632D00',
                  align: 'center',
                  x: -3,
                  y: 0,
                      formatter: function() {
                          return this.y + '%';
                                            },
                  style: {
                      font: 'normal 13px Verdana, sans-serif'
                          }
                          }
          },
          {% endfor %}
          ]
});

$('#ingresos{{year}}').highcharts({
  chart: {
    plotBackgroundColor: null,
    plotBorderWidth: null,
    plotShadow: false,
    type: 'pie'
  },
  title: {
    text: '¿Recibe ingresos por actividades que realiza?'
  },
  tooltip: {
    pointFormat: '{series.name}: <b>{point.y:.2f}%</b>'
  },
  plotOptions: {
    pie: {
      allowPointSelect: true,
      cursor: 'pointer',
      dataLabels: {
        enabled: true,
        format: '{point.y:.2f}%',
        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
        style: {
          textShadow: '0 0 3px white'
        }
      },
      showInLegend: true
    }

  },
  series: [{
    name: "Porcentajes",
    colorByPoint: true,
    data: [
    {% for k,v in value.3.items %}
    {
      name: "{{k}} ({{v.0}})",
      y: {{v.1}}
    },
    {% endfor %}


    ]
  }]
});

$('#destino{{year}}').highcharts({
  chart: {
    type: 'column'
  },
  title: {
    text: 'Destino de los ingresos percibidos'
  },

  yAxis: {
      title: {
          text: 'Valores'
      }
  },
  credits: {
      enabled: false
  },
  yAxis: {
          min: 0,
          title: {
              text: 'Porcentajes (%)'
          }
      },
      tooltip: {
          formatter: function() {
              return ''+
                  this.series.name +': '+ this.y +'%';
          }
      },
  series: [
          {% for k,v in value.8.items %}
          {
              name: '{{k}} ({{v.0}})',
              data: [{{v.1}}],
              dataLabels: {
                  enabled: true,
                  rotation: 0,
                  color: '#632D00',
                  align: 'center',
                  x: -3,
                  y: 0,
                      formatter: function() {
                          return this.y + '%';
                                            },
                  style: {
                      font: 'normal 13px Verdana, sans-serif'
                          }
                          }
          },
          {% endfor %}
          ]
});
{% endfor %}
});
</script>
{% endblock extra_js %}
