{% extends "base.html" %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" id="theme" href="/static/admincss/theme-dark-head-light.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/admin2.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" media="screen" />
{% endblock extra_css %}
{% block content %}
<div class="menu-indicadores panel panel-default animated zoomIn xn-drop-left">
    <div class="panel-heading titulo-indicador">
        <h3 class="panel-title"><span class="fa fa-tasks"></span> Indicadores</h3>                                
        <div class="pull-right">
            <span class="label label-warning">16 Indicadores</span>
        </div>
    </div>
    <div class="panel-body">
        <ul>
            <li>
                <a href="/productores/educacion/"><strong>Educación</strong></a>
            </li>
            <li>
                <a href="/productores/tenencia-propiedad/">
                    <strong>Tenencia de la Propiedad</strong> 
                </a>
            </li>
            <li>
                <a href="/productores/uso-tierra/">
                    <strong>Uso de Tierra</strong>
                </a>
            </li>
            <li>
                <a href="/productores/reforestacion/">
                    <strong>Reforestación</strong>
                </a>
            </li>
            <li>
                <a href="/productores/caracterizacion-terreno/">
                    <strong>Caracterización de terreno</strong>
                </a>
            </li>
            <li>
                <a href="/productores/riesgos-finca/">
                    <strong>Riesgos en la Finca</strong> 
                </a>
            </li>
            <li>
                <a href="/productores/mitigacion-riesgos/">
                    <strong>Mitigación de riesgos</strong> 
                </a>
            </li>
            <li>
                <a href="/productores/organizacion-productiva/">
                    <strong>Organización Productiva-Comercial</strong> 
                </a>
            </li>
            <li>
                <a href="/productores/produccion/">
                    <strong>Producción</strong> 
                </a>
            </li>
            <li>
            <a href="/productores/certificacion/">
                <strong>Certificación</strong> 
            </a>
            </li>
            <li>
                <a href="/productores/tecnicas-aplicadas/">
                    <strong>Técnicas aplicadas</strong> 
                </a>
            </li>
            <li>
                <a href="/productores/comercializacion/">
                    <strong>Comercialización</strong>
                </a>
            </li>
            <li>
                <a href="/productores/capacitaciones/">
                    <strong>Capacitaciones</strong> 
                </a>
            </li>
            <li>    
                <a href="/productores/problemas-areas-cacao/">
                    <strong>Problemas áreas cacao</strong>
                </a>
            </li>
            <li>
                <a href="/productores/genero/">
                    <strong>Género</strong>
                </a>
            </li>
            <li>
                <a href="/productores/ampliar-areas-cacao/">
                    <strong>Ampliar áreas de cacao</strong>
                </a>
            </li>
        </ul>  
    </div>
    
</div>
{% endblock content %}