{% extends "base.html" %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" id="theme" href="/static/admincss/theme-dark-head-light.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/admin2.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" media="screen" />

    

{% endblock extra_css %}
{% block content %}

    <div class="fondo">
        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>                    
            <li class="active">Dashboard</li>
        </ul>
        <!-- END BREADCRUMB -->                       
        
        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap">
            
            
            <div class="tab-content">
                {% for year,value in years.items %}
                <div role="tabpanel" class="tab-pane {% if forloop.counter == 1 %}active{% endif %}" id="{{year}}">

                    <div class="row">
                
                        <div class="col-md-6">
                            
                            <!-- START SALES BLOCK -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title-box">
                                        <h3>Medidas de mitigación</h3>
                                        <span>Porcentaje </span>
                                        
                                    </div>
                                </div>
                                <div class="panel-body">                                    
                                    <div class="row stacked">
                                       <div id="servicios{{year}}"></div>
                                    </div>                                    
                                </div>
                            </div>
                            <!-- END SALES BLOCK -->
                            
                        </div>
                        <div class="col-md-6">
                            
                            <!-- START SALES BLOCK -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title-box">
                                        <h3>Cuenta con un contrato de venta</h3>
                                        <span>Porcentaje </span>
                                        
                                    </div>
                                </div>
                                <div class="panel-body">                                    
                                    <div class="row stacked">
                                        <div id="beneficios{{year}}"></div>
                                    </div>                                    
                                </div>
                            </div>
                            <!-- END SALES BLOCK -->
                            
                        </div>

                    
                    
                        
                    </div>
                  
                  
                  
                 <!--  Área total de cacao expresado en Manzanas: {{value.5}}<br>
                  Promedio de Mz de cacao cultivado por productor: {{value.6}}<br>-->
                  
                  
                  

                </div>
                {% endfor %}
            </div>                    
            
            
            

            
        </div>
        <!-- END PAGE CONTENT WRAPPER -->   
    </div>




<div id="tabs">
  <!-- Nav tabs -->
  <ul class="nav" role="navegacion">
    <li role="titulo">
      <a >Años:</a>
    </li>

    {% for year in years.keys %}
    <li role="annos" class="{% if forloop.counter == 1 %}active{% endif %}" id="{{forloop.counter}}">
      <a href="#{{year}}" class="update" aria-controls="{{year}}" role="tab" data-toggle="tab">{{year}}</a>
    </li>
    {% endfor %}
  </ul>

  <div class="tab-content">
    {% for year,value in years.items %}
    <div role="tabpanel" class="tab-pane {% if forloop.counter == 1 %}active{% endif %}" id="{{year}}">
      <div id="servicios{{year}}"></div>
      <div id="beneficios{{year}}"></div>
    </div>

    </div>
    {% endfor %}
  </div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
$(function () {
  {% for year,value in years.items %}
  $('#servicios{{year}}').highcharts({
      chart: {
          type: 'column'
      },
      title: {
          text: 'Servicios que reciben productoras y productores de las organizaciones'
      },
      yAxis: {
          title: {
              text: 'Porcentaje'
          }

      },
      credits: {
          enabled: false
      },
      yAxis: {
              min: 0,
              title: {
                  text: 'Porcentaje'
              }
          },
      plotOptions: {
          series: {
              borderWidth: 0,
              dataLabels: {
                  enabled: true,
                  format: '{point.y:.2f}%',
                  color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                  style: {
                      textShadow: '0 0 3px white'
                  }
              }
          }
      },
          tooltip: {
              formatter: function() {
                  return ''+
                      this.series.name +': '+ this.y + '%';
              }
          },
          xAxis: {
          categories: [
              'Servicios',

          ],
          crosshair: true
      },
          legend: {
          layout: 'vertical',
          align: 'right',
          verticalAlign: 'middle',
          borderWidth: 0
      },
      series: [
              {% for k,v in value.0.items %}
              {
                  name: '{{k}} ({{v.0}})',
                  data: [{{v.1}}],

              },
              {% endfor %}
              ]
  });

  $('#beneficios{{year}}').highcharts({
      chart: {
          type: 'column'
      },
      title: {
          text: 'Beneficios de estar asociados'
      },
      yAxis: {
          title: {
              text: 'Porcentaje'
          }

      },
      credits: {
          enabled: false
      },
      yAxis: {
              min: 0,
              title: {
                  text: 'Porcentaje'
              }
          },
      plotOptions: {
          series: {
              borderWidth: 0,
              dataLabels: {
                  enabled: true,
                  format: '{point.y:.2f}%',
                  color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                  style: {
                      textShadow: '0 0 3px white'
                  }
              }
          }
      },
          tooltip: {
              formatter: function() {
                  return ''+
                      this.series.name +': '+ this.y + '%';
              }
          },
          xAxis: {
          categories: [
              'Servicios',

          ],
          crosshair: true
      },
          legend: {
          layout: 'vertical',
          align: 'right',
          verticalAlign: 'middle',
          borderWidth: 0
      },
      series: [
              {% for k,v in value.1.items %}
              {
                  name: '{{k}} ({{v.0}})',
                  data: [{{v.1}}],

              },
              {% endfor %}
              ]
  });
  {% endfor %}
});

</script>
{% endblock extra_js %}
