{% extends "base.html" %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" id="theme" href="/static/admincss/theme-dark-head-light.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/admin2.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" media="screen" />



{% endblock extra_css %}
{% block content %}
{% include "productores/menu_productores.html" %}
    <div class="fondo">
        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
            <li><a href="#">Inicio</a></li>
            <li><a href="/productores/">Productores</a></li>
            <li><a href="/productores/dashboard/">Dashboard</a></li>
            <li class="active">Producción</li>
        </ul>
        <!-- END BREADCRUMB -->
        <ul class="select-annos" >
            <li>
              <a >Años:</a>
            </li>

            {% for year in years.keys %}
            <li role="annos" class="{% if forloop.counter == 1 %}active{% endif %}" id="{{forloop.counter}}">
              <a href="#{{year}}" class="update" aria-controls="{{year}}" role="tab" data-toggle="tab">{{year}}</a>
            </li>
            {% endfor %}
        </ul>
        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap">


            <div class="tab-content">
                {% for year,value in years.items %}
                <div role="tabpanel" class="tab-pane {% if forloop.counter == 1 %}active{% endif %}" id="{{year}}">

                    <div class="row">
                        <div class="col-md-6">

                                <!-- START DATATABLE EXPORT -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Plantación</h3>
                                        <div class="btn-group pull-right">
                                            <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Exportar Datos</button>
                                            <ul class="dropdown-menu">

                                                <li><a href="#" onclick="exportarXLS('modalidad1'); return false;"><img src='/static/img/icons/xls.png' width="24"/> XLS</a></li>


                                            </ul>
                                        </div>

                                    </div>
                                    <div class="panel-body">

                                        <div class="table-responsive" id="modalidad">
                                            <table class="table table-bordered table-hover">
                                              <thead>
                                                  <tr>
                                                      <th rowspan="2"></th>
                                                      <th colspan="4" style="text-align:center;">Edad de plantación</th>
                                                  </tr>
                                                  <tr>
                                                      <th>4 -10 años</th>
                                                      <th>10 - 20 años</th>
                                                      <th>Mayor a 20 años</th>
                                                  </tr>
                                              </thead>
                                              <tbody>
                                                  <tr>
                                                      <td>Área total en mz</td>
                                                      {% for v in value.0.values %}
                                                      <td>{{v.0|floatformat:2}}</td>
                                                      {% endfor %}
                                                  </tr>
                                                  <tr>
                                                      <td>No. de plantas por mz</td>
                                                      {% for v in value.0.values %}
                                                      <td>{{v.1|floatformat:2}}</td>
                                                      {% endfor %}
                                                  </tr>
                                                  <tr>
                                                      <td>% de plantas improductivas</td>
                                                      {% for v in value.0.values %}
                                                      <td>{{v.2|floatformat:2}}</td>
                                                      {% endfor %}
                                                  </tr>
                                                  <tr>
                                                      <td>% de plantas establecidas con semilla</td>
                                                      {% for v in value.0.values %}
                                                      <td>{{v.3|floatformat:2}}</td>
                                                      {% endfor %}
                                                  </tr>
                                                  <tr>
                                                      <td>% de plantas establecidas por injerto</td>
                                                      {% for v in value.0.values %}
                                                      <td>{{v.4|floatformat:2}}</td>
                                                      {% endfor %}
                                                  </tr>
                                              </tbody>
                                          </table>
                                      </div>

                                    </div>
                                </div>
                                <!-- END DATATABLE EXPORT -->


                        </div>

                        <div class="col-md-6">

                            <!-- START SALES BLOCK -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title-box">
                                        <h3>Producción total de cacao</h3>
                                        <span>QQ</span>

                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="row stacked">
                                       <div id="produccion{{year}}" style="min-width: 310px; width: 540px; height:256px; margin: 0 auto;"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- END SALES BLOCK -->

                        </div>
                        <div class="col-md-12">

                            <!-- START SALES BLOCK -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title-box">
                                        <h3>Meses de mayor producción de cacao</h3>
                                        <span>Frecuencia </span>

                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="row stacked">
                                        <div id="meses{{year}}" style="min-width: 310px; width: 1000px; margin: 0 auto;"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- END SALES BLOCK -->

                        </div>




                    </div>



                 <!--  Área total de cacao expresado en Manzanas: {{value.5}}<br>
                  Promedio de Mz de cacao cultivado por productor: {{value.6}}<br>-->




                </div>
                {% endfor %}
            </div>





        </div>
        <!-- END PAGE CONTENT WRAPPER -->
    </div>
    {% include "productores/footer.html" %}
{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
$(function () {
  {% for year,value in years.items %}
  $('#produccion{{year}}').highcharts({
    chart: {
      type: 'column'
    },
    title: {
      text: 'Producción total de cacao'
    },

    xAxis: {
      type: 'category'
    },
    yAxis: {
      title: {
        text: 'Quintales'
      }

    },
    legend: {
      enabled: false
    },
    plotOptions: {
      column: {
        stacking: 'normal',
        dataLabels: {
          enabled: true,
          format: '{point.y:.2f}',
          color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
          style: {
            textShadow: '0 0 3px black'
          }
        }
      }
    },

    tooltip: {
      headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
      pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> qq<br/>'
    },

    series: [{
      name: "Producción",
      colorByPoint: true,
      data: [
    {
      name: "Fermentado convencional",
      y: {{value.1}},
    }, {
      name: "Fermentado Orgánico",
      y: {{value.2}},
    }
    ]
  }],
});

$('#meses{{year}}').highcharts({
    title: {
        text: 'Meses de mayor producción de cacao',
        x: -20 //center
    },

    xAxis: {
        categories: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun',
        'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic']
    },
    yAxis: {
        title: {
            text: 'Frecuencia'
        },
        plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
        }]
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle',
        borderWidth: 0
    },
    series: [

    {
       name: 'Frecuencia',
       data: [{% for v in value.3.values %}{{v}},{% endfor %}]
   },


   ]
});
{% endfor %}
});
</script>
{% endblock extra_js %}
