{% extends "base.html" %}

{% block content %}
{% include "productores/filtros.html" %}
<div id="tabs">
  <!-- Nav tabs -->
  <ul class="nav" role="navegacion">
    <li role="titulo">
      <a >Años:</a>
    </li>

    {% for year in years.keys %}
    <li role="annos" class="{% if forloop.counter == 1 %}active{% endif %}" id="{{forloop.counter}}">
      <a href="#{{year}}" class="update" aria-controls="{{year}}" role="tab" data-toggle="tab">{{year}}</a>
    </li>
    {% endfor %}
  </ul>

  <div class="tab-content">
    {% for year,value in years.items %}
    <div role="tabpanel" class="tab-pane {% if forloop.counter == 1 %}active{% endif %}" id="{{year}}">
      <div id="viveros{{year}}" style="min-width: 310px; width: 840px; margin: 0 auto;"></div>
      <div id="fertilizacion{{year}}" style="min-width: 310px; width: 840px; margin: 0 auto;"></div>
      <div id="manejo{{year}}" style="min-width: 310px; width: 840px; margin: 0 auto;"></div>
      <div id="tejido{{year}}" style="min-width: 310px; width: 840px; margin: 0 auto;"></div>
      <div id="mejoramiento{{year}}" style="min-width: 310px; width: 840px; margin: 0 auto;"></div>
      <div id="post_cosecha{{year}}" style="min-width: 310px; width: 840px; margin: 0 auto;"></div>
      <div id="acopio_cacao{{year}}" style="min-width: 310px; width: 540px; margin: 0 auto;"></div>
      <div id="acopio_org{{year}}" style="min-width: 310px; width: 540px; margin: 0 auto;"></div>
    </div>

    </div>
    {% endfor %}
  </div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
   $(function () {
     {% for year,value in years.items %}
        $('#viveros{{year}}').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Técnicas aplicadas'
            },
            yAxis: {
                title: {
                    text: 'Valores'
                }

            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Porcentaje'
                }
            },
                xAxis: {
                categories: [
                    'Técnicas',

                ],
                crosshair: true
            },
            tooltip: {
                formatter: function() {
                    return ''+
                    this.series.name +': '+ this.y + '%';
                }
            },
             legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
            plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y}%',
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                    style: {
                        textShadow: '0 0 3px white'
                    }
                }
            }
        },
            series: [
            {% for k,v in value.0.items %}
                {name: '{{k}} ({{v.0}})', data: [{{v.1}}]},
            {% endfor %}
            ]
        });

        $('#fertilizacion{{year}}').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Tipo de fertilización usada'
            },
            yAxis: {
                title: {
                    text: 'Valores'
                }

            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Porcentaje'
                }
            },
                xAxis: {
                categories: [
                    'Tipos',

                ],
                crosshair: true
            },
            tooltip: {
                formatter: function() {
                    return ''+
                    this.series.name +': '+ this.y + '%';
                }
            },
             legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
            plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y}%',
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                    style: {
                        textShadow: '0 0 3px white'
                    }
                }
            }
        },
            series: [
            {% for k,v in value.1.items %}
                {name: '{{k}} ({{v.0}})', data: [{{v.1}}]},
            {% endfor %}
            ]
        });

        $('#manejo{{year}}').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Prácticas de Manejo'
            },
            yAxis: {
                title: {
                    text: 'Valores'
                }

            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Porcentaje'
                }
            },
                xAxis: {
                categories: [
                    'Practicas',

                ],
                crosshair: true
            },
            tooltip: {
                formatter: function() {
                    return ''+
                    this.series.name +': '+ this.y + '%';
                }
            },
             legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
            plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y}%',
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                    style: {
                        textShadow: '0 0 3px white'
                    }
                }
            }
        },
            series: [
            {% for k,v in value.2.items %}
                {name: '{{k}} ({{v.0}})', data: [{{v.1}}]},
            {% endfor %}
            ]
        });

        $('#tejido{{year}}').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Prácticas de manejo de tejido'
            },
            yAxis: {
                title: {
                    text: 'Valores'
                }

            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Porcentaje'
                }
            },
                xAxis: {
                categories: [
                    'Practicas',

                ],
                crosshair: true
            },
            tooltip: {
                formatter: function() {
                    return ''+
                    this.series.name +': '+ this.y + '%';
                }
            },
             legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
            plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y}%',
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                    style: {
                        textShadow: '0 0 3px white'
                    }
                }
            }
        },
            series: [
            {% for k,v in value.3.items %}
                {name: '{{k}} ({{v.0}})', data: [{{v.1}}]},
            {% endfor %}
            ]
        });

        $('#mejoramiento{{year}}').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Prácticas de mejoramiento de producto'
            },
            yAxis: {
                title: {
                    text: 'Valores'
                }

            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Porcentaje'
                }
            },
                xAxis: {
                categories: [
                    'Practicas',

                ],
                crosshair: true
            },
            tooltip: {
                formatter: function() {
                    return ''+
                    this.series.name +': '+ this.y + '%';
                }
            },
             legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
            plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y}%',
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                    style: {
                        textShadow: '0 0 3px white'
                    }
                }
            }
        },
            series: [
            {% for k,v in value.4.items %}
                {name: '{{k}} ({{v.0}})', data: [{{v.1}}]},
            {% endfor %}
            ]
        });

        $('#post_cosecha{{year}}').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Prácticas de Manejo post cosecha'
            },
            yAxis: {
                title: {
                    text: 'Valores'
                }

            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Porcentaje'
                }
            },
                xAxis: {
                categories: [
                    'Practicas',

                ],
                crosshair: true
            },
            tooltip: {
                formatter: function() {
                    return ''+
                    this.series.name +': '+ this.y + '%';
                }
            },
             legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
            plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y}%',
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                    style: {
                        textShadow: '0 0 3px white'
                    }
                }
            }
        },
            series: [
            {% for k,v in value.5.items %}
                {name: '{{k}} ({{v.0}})', data: [{{v.1}}]},
            {% endfor %}
            ]
        });

        $('#acopio_cacao{{year}}').highcharts({
    			chart: {
    				plotBackgroundColor: null,
    				plotBorderWidth: null,
    				plotShadow: false,
    				type: 'pie'
    			},
    			title: {
    				text: '¿Dispone de un centro de acopio de cacao en la comunidad?'
    			},
    			tooltip: {
    				pointFormat: '{series.name}: <b>{point.percentage:.2f}%</b>'
    			},
    			plotOptions: {
    				pie: {
    					allowPointSelect: true,
    					cursor: 'pointer',
    					dataLabels: {
    						enabled: true,
    						format: '{point.percentage:.2f}%',
    						color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
    						style: {
    							textShadow: '0 0 3px white'
    						}
    					},
    					showInLegend: true
    				}

    			},
    			series: [{
    				name: "Porcentajes",
    				colorByPoint: true,
    				data: [
    				{% for x,y in value.6.items %}
    				{
    					name: "{{x}}",
    					y: {{y}}
    				},
    				{% endfor %}


    				]
    			}]
    		});

        $('#acopio_org{{year}}').highcharts({
    			chart: {
    				plotBackgroundColor: null,
    				plotBorderWidth: null,
    				plotShadow: false,
    				type: 'pie'
    			},
    			title: {
    				text: '¿Es socio o esta asociado a una organización que acopia cacao?'
    			},
    			tooltip: {
    				pointFormat: '{series.name}: <b>{point.percentage:.2f}%</b>'
    			},
    			plotOptions: {
    				pie: {
    					allowPointSelect: true,
    					cursor: 'pointer',
    					dataLabels: {
    						enabled: true,
    						format: '{point.percentage:.2f}%',
    						color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
    						style: {
    							textShadow: '0 0 3px white'
    						}
    					},
    					showInLegend: true
    				}

    			},
    			series: [{
    				name: "Porcentajes",
    				colorByPoint: true,
    				data: [
    				{% for x,y in value.7.items %}
    				{
    					name: "{{x}}",
    					y: {{y}}
    				},
    				{% endfor %}


    				]
    			}]
    		});
      {% endfor %}
    });
</script>
{% endblock extra_js %}
