{% extends "base.html" %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" id="theme" href="/static/admincss/theme-dark-head-light.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/admin2.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" media="screen" />

    

{% endblock extra_css %}
{% block content %}
{% include "productores/menu_productores.html" %}
    <div class="fondo">
        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
            <li><a href="/">Inicio</a></li>
            <li><a href="/productores/">Productores</a></li>                      
            <li><a href="/productores/dashboard/">Dashboard</a></li>
            <li class="active">Técnicas aplicadas</li>
        </ul>
        <!-- END BREADCRUMB -->                       
        <ul class="select-annos" >
            <li>
              <a >Años:</a>
            </li>

            {% for year in years.keys %}
            <li role="annos" class="{% if forloop.counter == 1 %}active{% endif %}" id="{{forloop.counter}}">
              <a href="#{{year}}" class="update" aria-controls="{{year}}" role="tab" data-toggle="tab">{{year}}</a>
            </li>
            {% endfor %}
        </ul> 
        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap">
            
            
            <div class="tab-content">
                {% for year,value in years.items %}
                <div role="tabpanel" class="tab-pane {% if forloop.counter == 1 %}active{% endif %}" id="{{year}}">

                    <div class="row">
                
                        <div class="col-md-12">
                            
                            <!-- START SALES BLOCK -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title-box">
                                        <h3>Técnicas aplicadas</h3>
                                        <span>Porcentaje </span>
                                        
                                    </div>
                                </div>
                                <div class="panel-body">                                    
                                    <div class="row stacked">
                                        <div id="viveros{{year}}" style="min-width: 310px; width: 1200px; margin: 0 auto;"></div>
                                    </div>                                    
                                </div>
                            </div>
                            <!-- END SALES BLOCK -->
                            
                        </div>
                        <div class="col-md-12">
                            
                            <!-- START SALES BLOCK -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title-box">
                                        <h3>Tipo de fertilización usada</h3>
                                        <span>Porcentaje </span>
                                        
                                    </div>
                                </div>
                                <div class="panel-body">                                    
                                    <div class="row stacked">
                                        <div id="fertilizacion{{year}}" style="min-width: 310px; width: 1200px; margin: 0 auto;"></div>
                                    </div>                                    
                                </div>
                            </div>
                            <!-- END SALES BLOCK -->
                            
                        </div>
                        <div class="col-md-12">
                            
                            <!-- START SALES BLOCK -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title-box">
                                        <h3>Prácticas de Manejo</h3>
                                        <span>Porcentaje </span>
                                        
                                    </div>
                                </div>
                                <div class="panel-body">                                    
                                    <div class="row stacked">
                                        <div id="manejo{{year}}" style="min-width: 310px; width: 1200px; margin: 0 auto;"></div>
                                    </div>                                    
                                </div>
                            </div>
                            <!-- END SALES BLOCK -->
                            
                        </div>
                        <div class="col-md-12">
                            
                            <!-- START SALES BLOCK -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title-box">
                                        <h3>Prácticas de manejo de tejido</h3>
                                        <span>Porcentaje </span>
                                        
                                    </div>
                                </div>
                                <div class="panel-body">                                    
                                    <div class="row stacked">
                                        <div id="tejido{{year}}" style="min-width: 310px; width: 1200px; margin: 0 auto;"></div>
                                    </div>                                    
                                </div>
                            </div>
                            <!-- END SALES BLOCK -->
                            
                        </div>
                        <div class="col-md-12">
                            
                            <!-- START SALES BLOCK -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title-box">
                                        <h3>Prácticas de mejoramiento de producto</h3>
                                        <span>Porcentaje </span>
                                        
                                    </div>
                                </div>
                                <div class="panel-body">                                    
                                    <div class="row stacked">
                                        <div id="mejoramiento{{year}}" style="min-width: 310px; width: 1200px; margin: 0 auto;"></div>
                                    </div>                                    
                                </div>
                            </div>
                            <!-- END SALES BLOCK -->
                            
                        </div>
                        <div class="col-md-12">
                            
                            <!-- START SALES BLOCK -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title-box">
                                        <h3>Prácticas de Manejo post cosecha</h3>
                                        <span>Porcentaje </span>
                                        
                                    </div>
                                </div>
                                <div class="panel-body">                                    
                                    <div class="row stacked">
                                        <div id="post_cosecha{{year}}" style="min-width: 310px; width: 1200px; margin: 0 auto;"></div>
                                    </div>                                    
                                </div>
                            </div>
                            <!-- END SALES BLOCK -->
                            
                        </div>
                        <div class="col-md-6">
                            
                            <!-- START SALES BLOCK -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title-box">
                                        <h3>¿Dispone de un centro de acopio de cacao en la comunidad?</h3>
                                        <span>Porcentaje </span>
                                        
                                    </div>
                                </div>
                                <div class="panel-body">                                    
                                    <div class="row stacked">
                                        <div id="acopio_cacao{{year}}" style="min-width: 310px; width: 540px; margin: 0 auto;"></div>
                                    </div>                                    
                                </div>
                            </div>
                            <!-- END SALES BLOCK -->
                            
                        </div>
                        <div class="col-md-6">
                            
                            <!-- START SALES BLOCK -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title-box">
                                        <h3>¿Es socio o esta asociado a una organización que acopia cacao?</h3>
                                        <span>Porcentaje </span>
                                        
                                    </div>
                                </div>
                                <div class="panel-body">                                    
                                    <div class="row stacked">
                                        <div id="acopio_org{{year}}" style="min-width: 310px; width: 540px; margin: 0 auto;"></div>
                                    </div>                                    
                                </div>
                            </div>
                            <!-- END SALES BLOCK -->
                            
                        </div>


                    
                    
                        
                    </div>
                  
                  
                  
                 <!--  Área total de cacao expresado en Manzanas: {{value.5}}<br>
                  Promedio de Mz de cacao cultivado por productor: {{value.6}}<br>-->
                  
                  
                  

                </div>
                {% endfor %}
            </div>                    
            
            
            

            
        </div>
        <!-- END PAGE CONTENT WRAPPER -->   
    </div>
{% include "productores/footer.html" %}

{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
   $(function () {
     {% for year,value in years.items %}
        $('#viveros{{year}}').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Técnicas aplicadas'
            },
            yAxis: {
                title: {
                    text: 'Valores'
                }

            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Porcentaje'
                }
            },
                xAxis: {
                categories: [
                    'Técnicas',

                ],
                crosshair: true
            },
            tooltip: {
                formatter: function() {
                    return ''+
                    this.series.name +': '+ this.y + '%';
                }
            },
             legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
            plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y}%',
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                    style: {
                        textShadow: '0 0 3px white'
                    }
                }
            }
        },
            series: [
            {% for k,v in value.0.items %}
                {name: '{{k}} ({{v.0}})', data: [{{v.1}}]},
            {% endfor %}
            ]
        });

        $('#fertilizacion{{year}}').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Tipo de fertilización usada'
            },
            yAxis: {
                title: {
                    text: 'Valores'
                }

            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Porcentaje'
                }
            },
                xAxis: {
                categories: [
                    'Tipos',

                ],
                crosshair: true
            },
            tooltip: {
                formatter: function() {
                    return ''+
                    this.series.name +': '+ this.y + '%';
                }
            },
             legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
            plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y}%',
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                    style: {
                        textShadow: '0 0 3px white'
                    }
                }
            }
        },
            series: [
            {% for k,v in value.1.items %}
                {name: '{{k}} ({{v.0}})', data: [{{v.1}}]},
            {% endfor %}
            ]
        });

        $('#manejo{{year}}').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Prácticas de Manejo'
            },
            yAxis: {
                title: {
                    text: 'Valores'
                }

            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Porcentaje'
                }
            },
                xAxis: {
                categories: [
                    'Practicas',

                ],
                crosshair: true
            },
            tooltip: {
                formatter: function() {
                    return ''+
                    this.series.name +': '+ this.y + '%';
                }
            },
             legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
            plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y}%',
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                    style: {
                        textShadow: '0 0 3px white'
                    }
                }
            }
        },
            series: [
            {% for k,v in value.2.items %}
                {name: '{{k}} ({{v.0}})', data: [{{v.1}}]},
            {% endfor %}
            ]
        });

        $('#tejido{{year}}').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Prácticas de manejo de tejido'
            },
            yAxis: {
                title: {
                    text: 'Valores'
                }

            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Porcentaje'
                }
            },
                xAxis: {
                categories: [
                    'Practicas',

                ],
                crosshair: true
            },
            tooltip: {
                formatter: function() {
                    return ''+
                    this.series.name +': '+ this.y + '%';
                }
            },
             legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
            plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y}%',
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                    style: {
                        textShadow: '0 0 3px white'
                    }
                }
            }
        },
            series: [
            {% for k,v in value.3.items %}
                {name: '{{k}} ({{v.0}})', data: [{{v.1}}]},
            {% endfor %}
            ]
        });

        $('#mejoramiento{{year}}').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Prácticas de mejoramiento de producto'
            },
            yAxis: {
                title: {
                    text: 'Valores'
                }

            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Porcentaje'
                }
            },
                xAxis: {
                categories: [
                    'Practicas',

                ],
                crosshair: true
            },
            tooltip: {
                formatter: function() {
                    return ''+
                    this.series.name +': '+ this.y + '%';
                }
            },
             legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
            plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y}%',
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                    style: {
                        textShadow: '0 0 3px white'
                    }
                }
            }
        },
            series: [
            {% for k,v in value.4.items %}
                {name: '{{k}} ({{v.0}})', data: [{{v.1}}]},
            {% endfor %}
            ]
        });

        $('#post_cosecha{{year}}').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Prácticas de Manejo post cosecha'
            },
            yAxis: {
                title: {
                    text: 'Valores'
                }

            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Porcentaje'
                }
            },
                xAxis: {
                categories: [
                    'Practicas',

                ],
                crosshair: true
            },
            tooltip: {
                formatter: function() {
                    return ''+
                    this.series.name +': '+ this.y + '%';
                }
            },
             legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
            plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y}%',
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                    style: {
                        textShadow: '0 0 3px white'
                    }
                }
            }
        },
            series: [
            {% for k,v in value.5.items %}
                {name: '{{k}} ({{v.0}})', data: [{{v.1}}]},
            {% endfor %}
            ]
        });

        $('#acopio_cacao{{year}}').highcharts({
    			chart: {
    				plotBackgroundColor: null,
    				plotBorderWidth: null,
    				plotShadow: false,
    				type: 'pie'
    			},
    			title: {
    				text: '¿Dispone de un centro de acopio de cacao en la comunidad?'
    			},
    			tooltip: {
    				pointFormat: '{series.name}: <b>{point.percentage:.2f}%</b>'
    			},
    			plotOptions: {
    				pie: {
    					allowPointSelect: true,
    					cursor: 'pointer',
    					dataLabels: {
    						enabled: true,
    						format: '{point.percentage:.2f}%',
    						color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
    						style: {
    							textShadow: '0 0 3px white'
    						}
    					},
    					showInLegend: true
    				}

    			},
    			series: [{
    				name: "Porcentajes",
    				colorByPoint: true,
    				data: [
    				{% for x,y in value.6.items %}
    				{
    					name: "{{x}}",
    					y: {{y}}
    				},
    				{% endfor %}


    				]
    			}]
    		});

        $('#acopio_org{{year}}').highcharts({
    			chart: {
    				plotBackgroundColor: null,
    				plotBorderWidth: null,
    				plotShadow: false,
    				type: 'pie'
    			},
    			title: {
    				text: '¿Es socio o esta asociado a una organización que acopia cacao?'
    			},
    			tooltip: {
    				pointFormat: '{series.name}: <b>{point.percentage:.2f}%</b>'
    			},
    			plotOptions: {
    				pie: {
    					allowPointSelect: true,
    					cursor: 'pointer',
    					dataLabels: {
    						enabled: true,
    						format: '{point.percentage:.2f}%',
    						color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
    						style: {
    							textShadow: '0 0 3px white'
    						}
    					},
    					showInLegend: true
    				}

    			},
    			series: [{
    				name: "Porcentajes",
    				colorByPoint: true,
    				data: [
    				{% for x,y in value.7.items %}
    				{
    					name: "{{x}}",
    					y: {{y}}
    				},
    				{% endfor %}


    				]
    			}]
    		});
      {% endfor %}
    });
</script>
{% endblock extra_js %}
