{% extends "base.html" %}

{% block content %}
<div id="tabs">
  <!-- Nav tabs -->
  <ul class="nav" role="navegacion">
    <li role="titulo">
      <a >Años:</a>
    </li>

    {% for year in years.keys %}
    <li role="annos" class="{% if forloop.counter == 1 %}active{% endif %}" id="{{forloop.counter}}">
      <a href="#{{year}}" class="update" aria-controls="{{year}}" role="tab" data-toggle="tab">{{year}}</a>
    </li>
    {% endfor %}
  </ul>

  <div class="tab-content">
    {% for year,value in years.items %}
    <div role="tabpanel" class="tab-pane {% if forloop.counter == 1 %}active{% endif %}" id="{{year}}">
      
    </div>

    </div>
    {% endfor %}
  </div>
{% endblock content %}

{% block extra_js %}
{% endblock extra_js %}
