


.copyright {
    line-height: 30px;
    padding: 10px 0px;
    float: left;
    font-size: 11px;
    color: white;
}
.simas {
    float: right;
    padding: 10px 0px;
    font-size: 11px;
    line-height: 30px;
    font-weight: bold;
    color: white;
}

