
.highcharts-title tspan{
	display: none;
}



.copyright {
    line-height: 30px;
    padding: 10px 0px;
    float: left;
    font-size: 11px;
    color: white;
}
.simas {
    float: right;
    padding: 10px 0px;
    font-size: 11px;
    line-height: 30px;
    font-weight: bold;
    color: white;
}















.page-container .page-footer {
  float: left;
  width: 100%;
  padding: 0px;
  margin: 0px;

}
.page-container .page-footer .page-footer-wrap {
  float: left;
  width: 100%;
}
.page-container .page-footer .page-footer-wrap .page-footer-holder {
  width: 1100px;
  margin: 0px auto;
  color: black;
}
.page-container .page-footer .page-footer-wrap .page-footer-holder.page-footer-holder-main {
  margin: 30px auto;
}
.page-container .page-footer .page-footer-wrap .page-footer-holder a {
  color: black;
}
.page-container .page-footer .page-footer-wrap .page-footer-holder a:hover {
  color: #7c420a;
}
.final {
  color: white;
}
.page-container .page-footer .page-footer-wrap .page-footer-holder h3 {
  font-size: 14px;
  line-height: 13px;
  color: #7c420a;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 20px;
  padding: 0px;
  float: left;
  width: 100%;
}
.page-container .page-footer .page-footer-wrap .page-footer-holder p {
  font-size: 12px;
  line-height: 22px;
  margin-bottom: 5px;
  font-weight: 300;
}
.page-container .page-footer .page-footer-wrap .page-footer-holder .copyright {
  line-height: 30px;
  padding: 10px 0px;
  float: left;
  font-size: 11px;
  color: white;
}
.page-container .social-buttons {
  float: left;
  width: 100%;
}
.page-container .social-buttons a {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  background: #FFF;
  border: 1px solid #E5E5E5;
  margin: 0px 5px 5px 0px;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.page-container .social-buttons a .fa {
  line-height: 39px;
  font-size: 21px;
  color: #454545;
}
.page-container .social-buttons a:hover .fa {
  color: #FFF;
}
.page-container .social-buttons a:hover.sb-facebook {
  background-color: #3B5998;
  border-color: #3B5998;
}
.page-container .social-buttons a:hover.sb-twitter {
  background-color: #5EAADE;
  border-color: #5EAADE;
}
.page-container .social-buttons a:hover.sb-goggle {
  background-color: #DD4B39;
  border-color: #DD4B39;
}
.page-container .social-buttons a:hover.sb-dribbble {
  background-color: #DF4A84;
  border-color: #DF4A84;
}
.page-container .social-buttons a:hover.sb-flickr {
  background-color: #0063DB;
  border-color: #0063DB;
}
.page-container .social-buttons a:hover.sb-youtube {
  background-color: #DD2C28;
  border-color: #DD2C28;
}
.page-container .social-links {
  float: right;
  padding: 10px 0px;
}
.page-container .social-links a {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-right: 3px;
  text-align: center;
  color: #666;
  font-size: 17px;
  -webkit-transition: color 200ms ease;
  -moz-transition: color 200ms ease;
  -ms-transition: color 200ms ease;
  -o-transition: color 200ms ease;
  transition: color 200ms ease;
}
.page-container .social-links a:hover {
  color: #AAA;
}
.page-container .divider {
  float: left;
  width: 100%;
  height: 1px;
  background: #E5E5E5;
  position: relative;
}
.page-container .divider .box {
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: -12px;
  left: 50%;
  background: #FFF;
  border: 1px solid #E5E5E5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-left: -12px;
  text-align: center;
  line-height: 24px;
  padding-left: 1px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.page-container .divider .box .fa {
  font-size: 13px;
  color: #D5D5D5;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.page-container .list-links {
  float: left;
  width: 100%;
  padding: 0px;
}
.page-container .list-links a {
  display: block;
  float: left;
  width: 100%;
  line-height: 20px;
  padding: 10px 5px;
  font-size: 13px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: #AAA;
}
.page-container .list-links a:hover {
  color: #e0401d;
}
.page-container .footer-contacts {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
.page-container .footer-contacts .fc-row {
  padding: 0px 0px 0px 35px;
  float: left;
  width: 100%;
  margin-bottom: 10px;
  position: relative;
  line-height: 20px;
}
.page-container .footer-contacts .fc-row .fa {
  position: absolute;
  left: 0px;
  top: 0px;
  font-size: 14px;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
}
.page-container .list-with-icon {
  float: left;
  width: 100%;
}
.page-container .list-with-icon .item {
  width: 100%;
  float: left;
  position: relative;
  padding: 0px 0px 0px 45px;
  margin-bottom: 20px;
}
.page-container .list-with-icon .item .icon {
  width: 35px;
  height: 35px;
  position: absolute;
  font-size: 32px;
  left: 0px;
  top: 0px;
  line-height: 35px;
}
.page-container .list-with-icon .item .text {
  font-size: 12px;
}
.page-container .button-panel {
  display: block;
  float: left;
  margin-bottom: 20px;
}
.page-container .this-animate {
  opacity: 0;
}
.page-container .this-animate.this-animated {
  opacity: 1;
}
.page-container .text-hightlight {
  color: #e0401d;
}
.page-container .push-up-0 {
  margin-top: 0px;
}
.page-container .push-up-10 {
  margin-top: 10px;
}
.page-container .push-up-20 {
  margin-top: 20px;
}
.page-container .push-up-30 {
  margin-top: 30px;
}
.page-container .push-up-40 {
  margin-top: 40px;
}
.page-container .push-down-0 {
  margin-bottom: 0px;
}
.page-container .push-down-10 {
  margin-bottom: 10px;
}
.page-container .push-down-20 {
  margin-bottom: 20px;
}
.page-container .push-down-30 {
  margin-bottom: 30px;
}
.page-container .push-down-40 {
  margin-bottom: 40px;
}
.page-container .padding-v-10 {
  padding: 10px 0px !important;
}
.page-container .padding-v-20 {
  padding: 20px 0px !important;
}
.page-container .padding-v-30 {
  padding: 30px 0px !important;
}
.page-container .bg-light {
  background-color: #F5F5F5;
}
.page-container .bg-dark-gray {
      background: url("../img/backgrounds/bg-1.jpg") center center fixed;
}
.page-container .bg-darken-gray {
  background-color: #151515;
}
.page-container .bg-transparent {
  background: transparent;
}
.page-container .bg-dark {
  background-color: #333333;
}
.page-container .bg-img-1 {
  background: url("../img/backgrounds/bg-1.jpg") center center fixed;
}
.page-container .bg-img-2 {
  background: url("../img/backgrounds/bg-2.jpg") top center fixed;
}
.page-container .bg-texture-1 {
  background-image: url("../img/textures/texture-1.png");
  background-position: left top;
  background-repeat: repeat;
}
.page-container .bg-fondo {
  background-image: url("../img/fondo.jpg");
  background-position: right top;
  background-repeat: no-repeat;
  background-color: #f5e9d5;
 
}
.simas a {
    color: white !important;
}