{% extends "base.html" %}
{% block extra_css %}

{% endblock extra_css %}
{% block content %}
<nav class="navbar navbar-default navbar-fixed-top main-menu" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="/static/img/logo.png" alt=""></a>
        </div>
        <ul class="nav navbar-nav">
        </ul>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Inicio</a></li>
                <li><a href="/productores/">Productores</a></li>

                {% if user.is_authenticated %}
                    {% if user.is_superuser %}<li><a href="/organizaciones/">Organizaciones</a></li>{% endif %}
                    <li><a href="/admin">Administrar</a></li>
                    <li><a href="">Manual PDF</a></li>
                    <li>
                        <a href="/logout/">
                            <span class="fa fa-sign-out"></span> Cerrar Sesión
                        </a>
                    </li>
                {% else %}
                    <li><a href="/login/">Iniciar Sesión</a></li>

                {% endif %}

            </ul>
        </div>
    </div>
</nav>
		<div class="page-content margen">

		    <!-- page content wrapper -->
		    <div class="page-content-wrap bg-img-2 light-elements">
		        <!-- page content holder -->
		        <div class="page-content-holder">

		            <div class="block-heading block-heading-centralized this-animate" data-animate="fadeInDown">
		                <h2>Sistema de información de la Asociación de Productores de Cacao de Honduras</h2>
		                <div class="block-heading-text">
		                    Producción y productividad "nuestra gran responsabilidad".
		                </div>
		            </div>

		            <div class="block push-up-20">
		                <div class="row">
		                    <div class="col-md-5">

		                        <div class="text-column this-animate" data-animate="fadeInLeft">
		                            <h4>Sistema de Información</h4>
		                            <div class="text-column-info">
		                                <p>Contar con un sistema de información que permita acercarse a instituciones gubernamentales y no gubernamentales para proponer el diseño y la implementación de políticas y programas encaminados a crear condiciones favorables para el desarrollo y aumento de la competitividad del sector cacaotero, de las organizaciones y las familias productoras.</p>
		                                
		                                <a id="miLink" class="link" href="#">Leer más..</a>

		                            </div>
		                        </div>
		                        <!-- <div class="text-column this-animate" data-animate="fadeInLeft">
		                            <h4>Admin Template</h4>
		                            <div class="text-column-info">

		                            </div>
		                        </div> -->


		                    </div>
		                    <div class="col-md-7 hidden-xs text-center this-animate" data-animate="fadeInRight">
		                        <img src="/static/img/compu.png" class="img-responsive-mobile"/>
		                    </div>
		                </div>
		            </div>

		        </div>
		        <!-- ./page content holder -->
		    </div>
		    <!-- ./page content wrapper -->

		    <!-- page content wrapper -->
		    <div class="page-content-wrap bg-img-1">

		        <div class="divider"><div class="box"><span class="fa fa-angle-down"></span></div></div>

		        <!-- page content holder -->
		        <div class="page-content-holder">

		            <div class="row">
		                <div class="col-md-offset-1 col-lg-offset-1 col-md-10 this-animate" data-animate="fadeInLeft">

		                    <div class="row">
		                        <div class="col-md-4">
		                            <div id="slides">
		                                <div class="widget widget-default widget-item-icon" >
		                                    <div>
		                                        <div class="widget-title">Socios</div>
		                                        <div class="widget-subtitle">Total</div>
		                                        <div class="widget-int">{{socios}}</div>
		                                    </div>
		                                </div>
		                                <div class="widget widget-default widget-item-icon" >
		                                    <div>
		                                        <div class="widget-title">Mujeres</div>
		                                        <div class="widget-subtitle">Total</div>
		                                        <div class="widget-int">{{socios_mujeres}}</div>
		                                    </div>
		                                </div>
		                                <div class="widget widget-default widget-item-icon" >
		                                    <div>
		                                        <div class="widget-title">Hombres</div>
		                                        <div class="widget-subtitle">Total</div>
		                                        <div class="widget-int">{{socios_hombres}}</div>
		                                    </div>
		                                </div>



		                            </div>

		                        </div>
		                        <div class="col-md-4">
		                            <div class="item widget widget-default widget-item-icon" >
		                                <div>
		                                    <div class="widget-title">Organizaciones</div>
		                                    <div class="widget-subtitle">Total</div>
		                                    <div class="widget-int">{{organizaciones}}</div>
		                                </div>
		                            </div>
		                        </div>
		                        <div class="col-md-4">
		                            <div class="item widget widget-default widget-item-icon" >
		                                <div>
		                                    <div class="widget-title">Capacidad de acopio</div>
		                                    <div class="widget-subtitle">Promedio</div>
		                                    <div class="widget-int">48 t</div>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                    <div class="row">
		                        <div class="col-md-4">
		                        <div id="area">
		                                <div class="widget widget-default widget-item-icon" >
		                                    <div>
		                                        <div class="widget-title">Áreas cacao</div>
		                                        <div class="widget-subtitle">Total</div>
		                                        <div class="widget-int">{{areas_cacao}} mz</div>
		                                    </div>
		                                </div>
		                                <div class="widget widget-default widget-item-icon" >
		                                    <div>
		                                        <div class="widget-title">Mujeres</div>
		                                        <div class="widget-subtitle">Total</div>
		                                        <div class="widget-int">{{areas_mujeres}} mz</div>
		                                    </div>
		                                </div>
		                                <div class="widget widget-default widget-item-icon" >
		                                    <div>
		                                        <div class="widget-title">Hombres</div>
		                                        <div class="widget-subtitle">Total</div>
		                                        <div class="widget-int">{{areas_hombres}} mz</div>
		                                    </div>
		                                </div>



		                            </div>

		                        </div>
		                        <div class="col-md-4">
		                            <div class="item widget widget-default widget-item-icon" >
		                                <div>
		                                    <div class="widget-title">Producción cacao</div>
		                                    <div class="widget-subtitle">Total</div>
		                                    <div class="widget-int">{{produccion}} qq</div>
		                                </div>
		                            </div>
		                        </div>

		                        <div class="col-md-4">
		                            <div class="item widget widget-default widget-item-icon" >
		                                <div>
		                                    <div class="widget-title">Ingreso</div>
		                                    <div class="widget-subtitle">Promedio</div>
		                                    <div class="widget-int">5,360 L</div>
		                                </div>
		                            </div>
		                        </div>
		                    </div>

		                </div>
		                <!-- <div class="col-md-4 this-animate text-center" data-animate="fadeInRight">
		                    <div class="open-sesion">
		                        <div class="encabezado">
		                            <p>Bienvenid@ al sistema</p>
		                        </div>
		                        <div class="contenido">
		                          <p class="name">Pablo Ismael Garcia Murillo</p>
		                          <p class="username">Usuario: pablo.garcia</p>
		                          <p class="rol">Adminitrador</p>
		                          <div class="botones row">
		                              <div class="col-md-5">
		                                   <a class="btn btn-default sesion" href="">Cerrar sesión</a>
		                              </div>
		                              <div class="col-md-offset-1 col-md-5">
		                                <a class="btn btn-default explore" href="">Explorar datos</a>
		                              </div>
		                          </div>

		                        </div>
		                    </div>

		                </div>-->
		            </div>



		        </div>
		        <!-- ./page content holder -->
		    </div>
		    <!-- ./page content wrapper -->

		    <!-- page content wrapper -->
		    <div class="page-content-wrap " >
		    <div class="divider"><div class="box"><span class="fa fa-angle-down"></span></div></div>
		        <div id="map-canvas" style="width:100%; height:400px"></div>

		    </div>

		    <!-- ./page content wrapper -->
		    <!-- page content wrapper -->
		    <div class="page-content-wrap bg-light bg-fondo"  id="monitoreo">

		        <div class="divider"><div class="box"><span class="fa fa-angle-down"></span></div></div>

		        <!-- page content holder -->
		        <div class="page-content-holder info" >

		            <div class="this-animate" data-animate="fadeInDown">
		                <h4>Sistema de la Asociación de Productores de Cacao de Honduras</h4>
		                <p>La APROCACAHO es una organización gremial, sin fines de lucro, con Personería Jurídica y con cobertura nacional; la cual se encuentra conformada por personas naturales, cooperativas y agrupaciones dedicadas a la producción y comercialización del cacao en la República de Honduras.</p>

		                <p>Para propiciar el beneficio social y económico de las familias productoras de cacao y de sus asociados, al fomentar mejores técnicas de cultivo, la industrialización y la comercialización del cacao; APROCACAHO se ha propuesto de manera estratégica contar con un sistema de información que permita conocer el estado actual del sector cacaotero, identificando potencialidades y limitantes en los eslabones de la cadena de valor y tomar decisiones para mejorar el desempeño oportuno del sector.</p>

		                <p>El Sistema de Información fue posible gracias al apoyo financiero de VECO Mesoamérica y de Heifer Internacional.</p>
		            </div>

		        </div>
		        <!-- ./page content holder -->
		    </div>
		    <!-- ./page content wrapper -->
		    <!-- page content wrapper -->
		    <div class="page-content-wrap bg-texture-1 bg-dark light-elements">

		        <div class="divider"><div class="box"><span class="fa fa-angle-down"></span></div></div>

		        <!-- page content holder -->
		        <div class="page-content-holder">

		            <div class="row">

		                <div class="col-md-4">
		                    <div class="text-column text-column-centralized tex-column-icon-lg this-animate" data-animate="fadeInLeft">
		                        <div class="text-column-icon">
		                            <span class="fa fa-support"></span>
		                        </div>
		                        <h4>Objetivo</h4>
		                        <div class="text-column-info">
		                            Compartir de manera oportuna datos e información a fin de tomar decisiones sobre la producción, inversión y fortalecimiento de capacidades técnicas requeridas para mejorar la productividad y las tendencias del mercado.
		                        </div>
		                    </div>
		                </div>

		                <div class="col-md-4">
		                    <div class="text-column text-column-centralized tex-column-icon-lg this-animate" data-animate="fadeInUp">
		                        <div class="text-column-icon">
		                            <span class="fa fa-expand"></span>
		                        </div>
		                        <h4>Alcance</h4>
		                        <div class="text-column-info">
		                            Impulsar el conocimiento y obtener datos estadísticos sobre estado actual de las familias productoras de cacao y del desempeño productivo de las organizaciones asociadas a APROCACAHO.
		                        </div>
		                    </div>
		                </div>

		                <div class="col-md-4">
		                    <div class="text-column text-column-centralized tex-column-icon-lg this-animate" data-animate="fadeInRight">
		                        <div class="text-column-icon">
		                            <span class="fa fa-clock-o"></span>
		                        </div>
		                        <h4>Actualización</h4>
		                        <div class="text-column-info">
		                            <p>
		                            	El Sistema de Información se actualiza anualmente, mediante la aplicación de encuestas a familias productoras de cacao en campo por las organizaciones socias de la APROCACAHO.
		                            </p>
		                        </div>
		                    </div>
		                </div>

		            </div>

		        </div>
		        <!-- ./page content holder -->
		    </div>
		    <!-- ./page content wrapper -->


		</div>
		<!-- ./page content -->
		<!-- ./page container -->
		<div class="divider divider-footer"><div class="box"><span class="fa fa-angle-down"></span></div></div>
		<!-- page footer -->
		<div class="page-footer">

		    <!-- page footer wrap -->
		    <div class="page-footer-wrap bg-dark-gray">
		        <!-- page footer holder -->
		        <div class="page-footer-holder page-footer-holder-main">

		            <div class="row">

		                <!-- about -->
		                <div class="col-md-4">
		                    <h3>Apoyan el proyecto</h3>
		                    <br><br>
		                    <img  src="/static/img/logo1.png" width="60%" alt="">
		                    <br><br><br>
		                    <img  src="/static/img/logo2.png" width="50%" alt="">
		                </div>
		                <!-- ./about -->

		                <!-- quick links -->
		                <div class="col-md-4">
		                    <h3>enlaces de interés</h3>

		                    <div class="list-links">
		                        <a href="http://www.aprocacaho.com/perfil-institucional/">Perfil Institucional</a>
		                        <a href="http://www.aprocacaho.com/organizaciones-base/">Organizaciones de Productores</a>
		                        <a href="http://www.aprocacaho.com/nuestros-servicios/">Nuestros servicios</a>
		                        <a href="http://www.aprocacaho.com/proyectos/">Proyectos y alianzas</a>
		                        <a href="http://www.aprocacaho.com/informacion-tecnica-2/">Información Técnica</a>

		                    </div>
		                </div>
		                <!-- ./quick links -->

		                <!-- recent tweets -->

		                <!-- ./recent tweets -->

		                <!-- contacts -->
		                <div class="col-md-4">
		                    <h3>Contacto</h3>

		                    <div class="footer-contacts">
		                        <div class="fc-row">
		                            <span class="fa fa-home"></span>
		                            Municipio de Choloma,<br/>
		                            Departamento de Cortés, Honduras, C.A.

		                        </div>
		                        <div class="fc-row">
		                            <span class="fa fa-phone"></span>
		                           <a href="tel:+5042669 3912">(504) 2669 3912</a>,
		                           <a href="tel:+5042669 3400">(504) 2669 3400</a>
		                        </div>
		                        <div class="fc-row">
		                            <span class="fa fa-envelope"></span>
		                            <strong>Oficinas</strong><br>
		                            <a href="mailto:cacaohonduras@aprocacaho.com">cacaohonduras@aprocacaho.com</a>
		                        </div>
		                    </div>



		                </div>
		                <!-- ./contacts -->

		            </div>

		        </div>
		        <!-- ./page footer holder -->
		    </div>
		    <!-- ./page footer wrap -->
		    <!-- page footer wrap -->
		    <div class="page-footer-wrap bg-darken-gray final">
		        <!-- page footer holder -->
		        <div class="page-footer-holder">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<!-- copyright -->
				            <div class="copyright">
				            Tel: (504) 2669 3912, (504) 2669 3400, cacaohonduras@aprocacaho.com  &copy; Copyright. APROCACAHO

				            </div>
				            <!-- ./copyright -->
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<!-- social links -->
				            <div class="simas">
				            	Sistema desarrollado por <a href="http://simas.org.ni/">SIMAS</a>. El ingreso y actualización de la información es responsabilidad de APROCACAHO, así como el contenido de la misma.
				            </div>
				            <!-- ./social links -->
						</div>
					</div>
		            

		            

		        </div>
		        <!-- ./page footer holder -->
		    </div>
		    <!-- ./page footer wrap -->

		</div>
		<!-- ./page footer -->




{% endblock content %}

{% block extra_js %}
<script type="text/javascript" src="/static/js/plugins/appear/jquery.appear.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script type="text/javascript" src="/static/js/markerclusterer.js"></script>
<script>
	var markers = [];
	function initialize()
	{
		var infowindow = new google.maps.InfoWindow();
		var myLatlng = new google.maps.LatLng(14.5590251,-86.476418);
		var myOptions = {
			zoom: 7,
			center: myLatlng,
		}

		var map = new google.maps.Map(document.getElementById('map-canvas'), myOptions);
		var bounds = new google.maps.LatLngBounds();
		var infowindow = new google.maps.InfoWindow();
		// var image = new google.maps.MarkerImage('/static/img/m.png');


		$.getJSON("{% url 'obtener-lista' %}", function(data){
			$.each(data, function(i, elemento){
				var latlng = new google.maps.LatLng(elemento.lat, elemento.lon);
				bounds.extend(latlng);
				var marker = new google.maps.Marker({
					position: latlng,
					map: map,
					title: elemento.nombre,
					// icon: image,
					item: '',
					id: elemento.id
				});
				markers.push(marker);

				google.maps.event.addListener(marker, 'click', (function(mm, tt) {
					return function() {
						infowindow.setContent(tt);
						infowindow.open(map, mm);
					}
				})(marker, elemento.nombre));

			});
			var markerCluster = new MarkerClusterer(map, markers);

		});

		//map.fitBounds(bounds);
	}

	google.maps.event.addDomListener(window, 'load', initialize);
</script>
<script src="/static/js/jquery.slides.min.js"></script>
<script>
    $(function(){
      $("#slides").slidesjs({
        width: 940,
        height: 528,
        navigation: {active: false,},
        play: {effect: "slide",auto: true,pauseOnHover: false, restartDelay: 500}


      });
    });
    $(function(){
      $("#area").slidesjs({
        width: 940,
        height: 528,
        navigation: {active: false,},
        play: {effect: "slide",auto: true,pauseOnHover: false, restartDelay: 500}


      });
    });
     $(function () {
     	var menu= $(".page-header").height() + 50;
        $(" #miLink").click(function (e) {
            e.preventDefault();
            $('html,body').animate({
                scrollTop: $("#monitoreo").offset().top -menu}, 2000);
        });
    })
</script>

{% endblock extra_js %}
