{% extends "base.html" %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" id="theme" href="/static/admincss/theme-dark-head-light.css"/>

    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" media="screen" />

    

{% endblock extra_css %}
{% block content %}
{% include "organizaciones/menu_organizaciones.html" %}
    <div class="fondo">
        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
            <li><a href="/">Inicio</a></li>
            <li><a href="/organizaciones/">Organizaciones</a></li>                      
            <li class="active">Aspectos jurídicos</li>
        </ul>
        <!-- END BREADCRUMB -->                       
        <ul class="select-annos" >
            <li>
              <a >Años:</a>
            </li>

            {% for year in years.keys %}
                <li role="annos" class="{% if forloop.counter == 1 %}active{% endif %}" id="{{forloop.counter}}">
                  <a href="#{{year}}" class="update" aria-controls="{{year}}" role="tab" data-toggle="tab">{{year}}</a>
                </li>
            {% endfor %}
        </ul>

        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap">
            
            
            <div class="tab-content">
                {% for year,value in years.items %}
                <div role="tabpanel" class="tab-pane {% if forloop.counter == 1 %}active{% endif %}" id="{{year}}">
            
                    <div class="row">
                
                        <div class="col-md-6">
                            
                            <!-- START SALES BLOCK -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title-box">
                                        <h3>Número de miembros del Consejo de Administración para Organizaciones</h3>
                                        <span>Frecuencia</span>
                                        
                                    </div>
                                </div>
                                <div class="panel-body">                                    
                                    <div class="row stacked">
                                        <div id="miembros{{year}}" style="min-width: 540px; width: 540px; margin: 0 auto;"></div>
                                    </div>                                    
                                </div>
                            </div>
                            <!-- END SALES BLOCK -->
                            
                        </div>
                        <div class="col-md-6">
                            
                            <!-- START SALES BLOCK -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title-box">
                                        <h3>Personeria Juridica</h3>
                                        <span>Porcentaje</span>
                                        
                                    </div>
                                </div>
                                <div class="panel-body">                                    
                                    <div class="row stacked">
                                        <div id="juridica{{year}}" style="min-width: 310px; width: 540px; margin: 0 auto;"></div>
                                    </div>                                    
                                </div>
                            </div>
                            <!-- END SALES BLOCK -->
                            
                        </div>
                        <div class="col-md-8">
                            
                            <!-- START SALES BLOCK -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title-box">
                                        <h3>Situación legal de las Organizaciones/Instituciones</h3>
                                        <span>Porcentaje</span>
                                        
                                    </div>
                                </div>
                                <div class="panel-body">                                    
                                    <div class="row stacked">
                                        <div class="col-md-8" id="aspectos_juridicos{{year}}" style="min-width: 310px; width: 540px; margin: 0 auto;"></div>
                                    </div>                                    
                                </div>
                            </div>
                            <!-- END SALES BLOCK -->
                            
                        </div>
                        <div class="col-md-4">
                            
                            <!-- START DATATABLE EXPORT -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Organizaciones</h3>
                                        <div class="btn-group pull-right">
                                            <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Exportar Datos</button>
                                            <ul class="dropdown-menu">
                                              
                                                <li><a href="#" onclick="exportarXLS('modalidad'); return false;"><img src='/static/img/icons/xls.png' width="24"/> XLS</a></li>
                                                
                                                
                                            </ul>
                                        </div>                                    
                                        
                                    </div>
                                    <div class="panel-body">
                                   
                                        <div class="table-responsive" id="modalidad">
                                            <table class="table table-bordered table-striped table-hover">
            
                                            <thead>
                                              <tr>
                                                <th>Situación legal</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              {% for k in value.3.keys %}
                                              <tr>
                                                <td><a href="" data-toggle="modal" data-target="#situacion_modal{{forloop.counter}}{{year}}">{{k}}</a></td>
                                              </tr>
                                              {% endfor %}
                                            </tbody>
                                        </table>
                                            
                                      </div>                                    
                                        
                                    </div>
                                </div>
                                <!-- END DATATABLE EXPORT -->   
                            
                        </div>

                    </div>
                
                  
                  

                </div>
                <!-- modal -->
                    {% for k,v in value.3.items %}
                        <div class="modal fade" id="situacion_modal{{forloop.counter}}{{year}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div class="panel-title-box">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h3>Organizaciones que dijeron que '{{k}}' tienen:</h3>
                                            <span>Año {{year}}</span>
                                            
                                        </div>
                                        
                                    </div>
                                    <div class="modal-body">
                                        <table class="table table-bordered table-striped table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Solvencia tributaria</th>
                                                    <th>Junta directiva certificada</th>
                                                    <th>Lista socias y socias actualizada</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    {% for x in v %}
                                                    <td>
                                                        {% for org in x  %}
                                                        <li class="lis"><a href="{% url 'detail-org' org.organizacion.slug %}">{{org}}</a></li>
                                                        {% endfor %}
                                                    </td>
                                                    {% endfor %}
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                <!-- end modal --> 
                {% endfor %}
            </div>                    
            
            
            

            
        </div>
        <!-- END PAGE CONTENT WRAPPER -->   
    </div>


{% include "productores/footer.html" %}

{% endblock %}

{% block extra_js %}
<script type="text/javascript">
$(function () {
  {% for year,value in years.items %}
  $('#miembros{{year}}').highcharts({
          chart: {
              type: 'column'
          },
          title: {
              text: 'Número de miembros del Consejo de Administración para Organizaciones'
          },
          xAxis: {
              categories: ['ONG', 'Cooperativas', 'Unión de Cooperativas']
          },
          yAxis: {
              min: 0,
              title: {
                  text: 'Total de hombres y mujeres'
              }
          },

        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: true,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    style: {
                        textShadow: '0 0 3px black'
                    }
                }
            }
        },
          series: [
          {% for k,v in value.0.items %}

            {
                name: '{{k}}',
                data: [{% for x in v %}{{x.1}},{% endfor %}]
            },

          {% endfor %}
        ]
      });

      $('#juridica{{year}}').highcharts({
  			chart: {
  				plotBackgroundColor: null,
  				plotBorderWidth: null,
  				plotShadow: false,
  				type: 'pie'
  			},
  			title: {
  				text: 'Personeria Juridica'
  			},
  			tooltip: {
  				pointFormat: '{series.name}: <b>{point.percentage:.2f}%</b>'
  			},
  			plotOptions: {
  				pie: {
  					allowPointSelect: true,
  					cursor: 'pointer',
  					dataLabels: {
  						enabled: true,
  						format: '{point.percentage:.2f}%',
  						color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
  						style: {
  							textShadow: '0 0 3px white'
  						}
  					},
  					showInLegend: true
  				}

  			},
  			series: [{
  				name: "Porcentajes",
  				colorByPoint: true,
  				data: [
  				{% for x,y in value.1.items %}
  				{
  					name: "{{x}}",
  					y: {{y}}
  				},
  				{% endfor %}


  				]
  			}]
  		});

      $('#aspectos_juridicos{{year}}').highcharts({
    		chart: {
    			type: 'column'
    		},
    		title: {
    			text: 'Situación legal de las Organizaciones/Instituciones'
    		},
    		xAxis: {
    			categories: ['Cuenta con Registro Tributario Nacional Numérico', 'Junta Directiva certificada', 'Lista socias y socias actualizada']
    		},
    		yAxis: {
    			title: {
    				text: 'Porcentajes'
    			}

    		},
    		credits: {
    			enabled: false
    		},
    		plotOptions: {
    			series: {
    				borderWidth: 0,
    				dataLabels: {
    					enabled: true,
    					format: '{point.y:.2f}%'
    				}
    			}
    		},

    		tooltip: {
    			headerFormat: '<span style="font-size:11px">{series.name}</span>',
    			pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%'
    		},
    		series: [
    		{% for k,v in value.2.items %}
    		{
    			name: '{{k}}',
    			data: [{% for x in v %}{{x}},{% endfor %}]
    		},
    		{% endfor %}

    		]
    	});
  {% endfor %}
});
</script>
{% endblock %}
