{% extends "base.html" %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" id="theme" href="/static/admincss/theme-dark-head-light.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/admin2.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" media="screen" />

    

{% endblock extra_css %}
{% block content %}
{% include "organizaciones/menu_organizaciones.html" %}
    <div class="fondo">
        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
            <li><a href="#">Inicio</a></li>
            <li><a href="/organizaciones/">Organizaciones</a></li>                      
            <li class="active">Comercialización</li>
        </ul>
        <!-- END BREADCRUMB -->                       
        <ul class="select-annos" >
            <li>
              <a >Años:</a>
            </li>

            {% for year in years.keys %}
                <li role="annos" class="{% if forloop.counter == 1 %}active{% endif %}" id="{{forloop.counter}}">
                  <a href="#{{year}}" class="update" aria-controls="{{year}}" role="tab" data-toggle="tab">{{year}}</a>
                </li>
            {% endfor %}
        </ul>

        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap">
            
            
            <div class="tab-content">
                {% for year,value in years.items %}
                <div role="tabpanel" class="tab-pane {% if forloop.counter == 1 %}active{% endif %}" id="{{year}}">
            
                    <div class="row">
                        <div class="col-md-6">
                            
                            <!-- START DATATABLE EXPORT -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Cacao corriente</h3>
                                        <div class="btn-group pull-right">
                                            <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Exportar Datos</button>
                                            <ul class="dropdown-menu">
                                              
                                                <li><a href="#" onclick="exportarXLS('modalidad'); return false;"><img src='/static/img/icons/xls.png' width="24"/> XLS</a></li>
                                                
                                                
                                            </ul>
                                        </div>                                    
                                        
                                    </div>
                                    <div class="panel-body">
                                   
                                        <div class="table-responsive" id="modalidad">
                                            <table class="table table-bordered table-hover" cellspacing="0" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>Socios</th>
                                                        <th>Promedio</th>
                                                        <th>Socias</th>
                                                        <th>Promedio</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                  {%for fila in value.0 %}
                                                  <tr>
                                                      {%for celda in fila %}
                                                      <td>{{celda|default:'0'}}</td>
                                                      {%endfor%}
                                                  </tr>
                                                  {%endfor%}
                                                </tbody>
                                            </table>
                                            
                                      </div>                                    
                                        
                                    </div>
                                </div>
                                <!-- END DATATABLE EXPORT -->   
                            
                        </div>
                        <div class="col-md-6">
                            
                            <!-- START DATATABLE EXPORT -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Cacao fermentado</h3>
                                        <div class="btn-group pull-right">
                                            <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Exportar Datos</button>
                                            <ul class="dropdown-menu">
                                              
                                                <li><a href="#" onclick="exportarXLS('modalidad'); return false;"><img src='/static/img/icons/xls.png' width="24"/> XLS</a></li>
                                                
                                                
                                            </ul>
                                        </div>                                    
                                        
                                    </div>
                                    <div class="panel-body">
                                   
                                        <table class="table table-bordered table-hover" cellspacing="0" width="100%">
                                        
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Socios</th>
                                                    <th>Promedio</th>
                                                    <th>Socias</th>
                                                    <th>Promedio</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                              {%for fila in value.1 %}
                                              <tr>
                                                  {%for celda in fila %}
                                                  <td>{{celda|default:'0'}}</td>
                                                  {%endfor%}
                                              </tr>
                                              {%endfor%}
                                            </tbody>
                                        </table>                                   
                                        
                                    </div>
                                </div>
                                <!-- END DATATABLE EXPORT -->   
                            
                        </div>
                
                        <div class="col-md-6">
                            
                            <!-- START SALES BLOCK -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title-box">
                                        <h3>Cacao comercializado</h3>
                                        <span>Totales</span>
                                        
                                    </div>
                                </div>
                                <div class="panel-body">                                    
                                    <div class="row stacked">
                                        <div id="comercio{{year}}" style="min-width: 310px; width: 540px; margin: 0 auto;"></div>
                                    </div>                                    
                                </div>
                            </div>
                            <!-- END SALES BLOCK -->
                            
                        </div>
                        <div class="col-md-6">
                            
                            <!-- START SALES BLOCK -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title-box">
                                        <h3>Certificación utilizada para comercializar cacao</h3>
                                        <span>Totales</span>
                                        
                                    </div>
                                </div>
                                <div class="panel-body">                                    
                                    <div class="row stacked">
                                        <div id="certificacion{{year}}" style="min-width: 310px; width: 540px; margin: 0 auto;"></div>
                                    </div>                                    
                                </div>
                            </div>
                            <!-- END SALES BLOCK -->
                            
                        </div>
                        <div class="col-md-6">
                            
                            <!-- START SALES BLOCK -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title-box">
                                        <h3>Destino de la producción de cacaoo</h3>
                                        <span>Porcentaje</span>
                                        
                                    </div>
                                </div>
                                <div class="panel-body">                                    
                                    <div class="row stacked">
                                        <div id="destino{{year}}" style="min-width: 310px; width: 540px; margin: 0 auto;"></div>
                                    </div>                                    
                                </div>
                            </div>
                            <!-- END SALES BLOCK -->
                            
                        </div>


                    </div>
                
                  
                  

                </div>
                {% endfor %}
            </div>                    
            
            
            

            
        </div>
        <!-- END PAGE CONTENT WRAPPER -->   
    </div>


{% include "productores/footer.html" %}

{% endblock %}

{% block extra_js %}
<script type="text/javascript">
$(function () {
  {% for year,value in years.items %}
      $('#comercio{{year}}').highcharts({
          chart: {
              type: 'column'
          },
          title: {
              text: 'Cacao comercializado'
          },
          yAxis: {
              title: {
                  text: 'Valores'
              }

          },
          yAxis: {
              min: 0,
              title: {
                  text: 'Quintales'
              }
          },
          xAxis: {
              categories: [
              'Quintales',

              ],
              crosshair: true
          },
          tooltip: {
              formatter: function() {
                  return ''+
                  this.series.name +': '+ this.y ;
              }
          },
          legend: {
              layout: 'vertical',
              align: 'right',
              verticalAlign: 'middle',
              borderWidth: 0
          },
          plotOptions: {
              series: {
                  borderWidth: 0,
                  dataLabels: {
                      enabled: true,
                      format: '{point.y}',
                      color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                      style: {
                          textShadow: '0 0 3px white'
                      }
                  }
              }
          },
          series: [
                  {
                      name: "Corriente",
                      data: [{{value.2|default:'0'}}],
                  },
                  {
                      name: "Fermentado",
                      data: [{{value.3|default:'0'}}],
                  }
          ]
      });

      $('#certificacion{{year}}').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Certificación utilizada para comercializar cacao'
        },
        xAxis: {
            categories: ['Corriente','Fermentado']
        },
        credits: {
            enabled: false
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Porcentajes'
            }
        },
        tooltip: {
            formatter: function() {
                return ''+
                this.series.name +': '+ this.y +'%';
            }
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y}%',
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                    style: {
                        textShadow: '0 0 3px white'
                    }
                }
            }
        },
        series: [
          {% for k,v in value.4.items%}
            {
              name: '{{k}}',
              data: [{{v.0}},{{v.1}}]
            },
          {% endfor %}
           ]
    });

    $('#destino{{year}}').highcharts({
      chart: {
          type: 'column'
      },
      title: {
          text: 'Destino de la producción de cacao'
      },
      xAxis: {
          categories: ['Corriente','Fermentado']
      },
      credits: {
          enabled: false
      },
      yAxis: {
          min: 0,
          title: {
              text: 'Porcentajes'
          }
      },
      tooltip: {
          formatter: function() {
              return ''+
              this.series.name +': '+ this.y +'%';
          }
      },
      plotOptions: {
          series: {
              borderWidth: 0,
              dataLabels: {
                  enabled: true,
                  format: '{point.y}%',
                  color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                  style: {
                      textShadow: '0 0 3px white'
                  }
              }
          }
      },
      series: [
        {% for k,v in value.5.items%}
          {
            name: '{{k}}',
            data: [{{v.0}},{{v.1}}]
          },
        {% endfor %}
         ]
  });
  {% endfor %}
});
</script>
{% endblock %}
