{% extends "base.html" %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" id="theme" href="/static/admincss/theme-dark-head-light.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/admin2.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" media="screen" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">



{% endblock extra_css %}
{% block content %}
{% include "organizaciones/menu_organizaciones.html" %}


<div class="fondo">
    {% for obj in object %}
        <ul class="breadcrumb">
            <li><a href="/">Inicio</a></li>
            <li><a href="/organizaciones/">Organizaciones</a></li>
            <li class="active">{{obj.nombre}}</li>
        </ul>
        <!-- END BREADCRUMB -->
        <div class="panel panel-detalle">

            <div class="panel-body">
               <div class="row">
                   <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                       <div class="logo-detalle">
                           {% if obj.logo %}
                            <img src="/media/{{obj.logo}}" alt="" />
                          {% else %}
                            <img class="center-block img-detail img-responsive" src="http://placehold.it/300x200?text=No+Imagen">
                          {% endif %}
                       </div>
                   </div>
                   <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
                        <div class="info-detalle">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <strong>Nombre: </strong>{{obj.nombre}}</li>
                                <li class="list-group-item">
                                    <strong>Siglas: </strong>{{obj.siglas}}</li>
                                {% if obj.fundacion %}
                                    <li class="list-group-item">
                                    <strong>Año de fundación: </strong>{{obj.fundacion}}</li>
                                {% endif %}
                                {% if obj.gerente %}
                                    <li class="list-group-item">
                                    <strong>Presidente/Administrador: </strong>{{obj.gerente}}</li>
                                {% endif %}
                                {% if obj.direccion %}
                                    <li class="list-group-item">
                                    <strong>Dirección: </strong>{{obj.direccion}}</li>
                                {% endif %}

                                <li class="list-group-item">
                                    <strong>Departamento: </strong>{{obj.departamento}}
                                </li>
                                <li class="list-group-item">
                                    <strong>Municipio: </strong>{{obj.municipio}}
                                </li>
                            </ul>
                        </div>
                   </div>
                   <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
                        <div class="info-detalle">
                            <ul class="list-group">


                                <li class="list-group-item">
                                    <strong>Estatus Legal: </strong>{{obj.get_status_display}}
                                </li>
                                {% if obj.telefono %}
                                    <li class="list-group-item">
                                        <strong>Número telefónico: </strong>{{obj.telefono}}
                                    </li>
                                {% endif %}
                                {% if obj.email %}
                                    <li class="list-group-item">
                                        <strong>Email: </strong>{{obj.email}}
                                    </li>
                                {% endif %}
                                {% if obj.web %}
                                    <li class="list-group-item">
                                        <strong>Sitio web: </strong>{{obj.web}}
                                    </li>
                                {% endif %}
                                {% if obj.contacto %}
                                    <li class="list-group-item">
                                        <strong>Persona de contacto #1: </strong>{{obj.contacto}}
                                    </li>
                                {% endif %}
                                {% if obj.contacto_1 %}
                                    <li class="list-group-item">
                                        <strong>Persona de contacto #2: </strong>
                                        {{obj.contacto_1}}

                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                   </div>

               </div>
            </div>
        </div>

    {% endfor %}















        <ul class="select-annos" >
            <li>
              <a >Años:</a>
            </li>

            {% for year in years.keys %}
                <li role="annos" class="{% if forloop.counter == 1 %}active{% endif %}" id="{{forloop.counter}}">
                  <a href="#{{year}}" class="update" aria-controls="{{year}}" role="tab" data-toggle="tab">{{year}}</a>
                </li>
            {% endfor %}
        </ul>
        <div id="tabs">


          <div class="tab-content">
            {% for year,value in years.items %}
            <div role="tabpanel" class="tab-pane {% if forloop.counter == 1 %}active{% endif %}" id="{{year}}">


            <div role="detalletabs">
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <ul class="nav nav-tabs nav-detalle" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#juridicos{{year}}" aria-controls="juridicos{{year}}" role="tab" data-toggle="tab">
                                    Aspectos juridicos
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#documentacion{{year}}" aria-controls="documentacion{{year}}" role="tab" data-toggle="tab">
                                    Documentación
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#productivos{{year}}" aria-controls="productivos{{year}}" role="tab" data-toggle="tab">
                                    Datos Productivos
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#equipos{{year}}" aria-controls="equipos{{year}}" role="tab" data-toggle="tab">
                                   Instalaciones y equipos
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#comercio{{year}}" aria-controls="comercio{{year}}" role="tab" data-toggle="tab">
                                   Comercialización
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#destino{{year}}" aria-controls="destino{{year}}" role="tab" data-toggle="tab">
                                  Destino de la Producción
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#financiamiento{{year}}" aria-controls="financiamiento{{year}}" role="tab" data-toggle="tab">
                                   Financiamiento
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="detalletabs" class="tab-pane active" id="juridicos{{year}}">
                                <div class="row">
                                    {% for v in value.0 %}
                                        <div class="col-md-5">
                                            <ul class="list-group">
                                              <li class="list-group-item">
                                                  <strong>Personería jurídica: </strong>{{v.0}}
                                              </li>
                                              <li class="list-group-item">
                                                  <strong>Registro Tributario Nacional Numérico: </strong>{{v.1}}
                                              </li>
                                              <li class="list-group-item">
                                                  <strong>Junta Directiva certificada: </strong>
                                                  {{v.2}}
                                              </li>
                                              <li class="list-group-item">
                                                  <strong>Miembros mujeres JD: </strong>{{v.3}}
                                              </li>
                                              <li class="list-group-item">
                                                  <strong>Miembros hombres JD: </strong>{{v.4}}
                                              </li>
                                              <li class="list-group-item">
                                                  <strong>Lista socias/os esta actualizada y certificada: </strong>{{v.5}}
                                              </li>
                                              <li class="list-group-item">
                                                  <strong>Número de Registro de las Cooperativas en CONSUCOOP: </strong>{{v.6}}
                                              </li>
                                            </ul>
                                        </div>
                                    {% endfor %}

                                    {% if value.1 %}
                                        <div class="col-md-7">

                                            <!-- START TABLE HOVER ROWS -->
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">Miembros</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered  table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th>Nombre y apellido</th>
                                                                    <th>Cargo</th>
                                                                    <th>Teléfonos</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for fila in value.1 %}
                                                                <tr>
                                                                    {% for celda in fila %}
                                                                    <td>{{celda}}</td>
                                                                    {% endfor %}
                                                                </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- END TABLE HOVER ROWS -->
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div role="detalletabs" class="tab-pane" id="documentacion{{year}}">
                                <div class="row">
                                    {% if value.2 %}
                                        <div class="col-md-12">
                                            <!-- START TABLE HOVER ROWS -->
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">Información de Documentación</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <table class="table table-bordered  table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>Documentos</th>
                                                                <th>Si/No</th>
                                                                <th>Trámite</th>
                                                                <th>Fecha de elaboración/actualización</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for fila in value.2 %}
                                                            <tr>
                                                                {% for celda in fila %}
                                                                <td>
                                                                    {% if celda == True %}
                                                                    <i class="fa fa-check" aria-hidden="true"></i>
                                                                    {% elif celda == False%}
                                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                                    {% else %}
                                                                    {{celda}}
                                                                    {% endif %}
                                                                </td>
                                                                {% endfor %}
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <!-- END TABLE HOVER ROWS -->

                                        </div>
                                      {% endif %}

                                      {% if value.3 %}
                                        <div class="col-md-12">
                                            <!-- START TABLE HOVER ROWS -->
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">Información de Documentación</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <table class="table table-bordered  table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>Documentos</th>
                                                                <th>Cumplimiento</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for fila in value.3 %}
                                                            <tr>
                                                                {% for celda in fila %}
                                                                <td>{{celda}}</td>
                                                                {% endfor %}
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <!-- END TABLE HOVER ROWS -->
                                        </div>
                                      {% endif %}
                                </div>
                            </div>
                            <!--<div role="detalletabs" class="tab-pane" id="productivos{{year}}">
                                <div class="row">
                                    {% if value.4 %}
                                    <div class="col-md-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Información productiva</h3>
                                            </div>
                                            <div class="panel-body">
                                                <table class="table table-bordered  table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Socios</th>
                                                            <th>socias</th>
                                                            <th>No socios</th>
                                                            <th>No socias</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for fila in value.4 %}
                                                        <tr>
                                                            {% for celda in fila %}
                                                            <td>{{celda}}</td>
                                                            {% endfor %}
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}

                                    {% if value.5 %}
                                  <div class="col-md-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Información productiva</h3>
                                            </div>
                                            <div class="panel-body">
                                                <table class="table table-bordered  table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Socios</th>
                                                            <th>No socios</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for fila in value.5 %}
                                                        <tr>
                                                            {% for celda in fila %}
                                                            <td>{{celda}}</td>
                                                            {% endfor %}
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>-->
                            <div role="detalletabs" class="tab-pane" id="equipos{{year}}">
                                <div class="row">

                                    <div class="col-md-12">
                                    <!-- START TABLE HOVER ROWS -->
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Información  de instalaciones y equipo</h3>
                                            </div>
                                            <div class="panel-body">
                                            {% if value.6 %}
                                                <table class="table table-bordered  table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th>Tipo de Infraestructura</th>
                                                        <th>Capacidad (qq)</th>
                                                        <th>Año de construcción</th>
                                                        <th>Estado</th>
                                                    </tr>
                                                  </thead>
                                                  <tbody>
                                                    {% for fila in value.6 %}
                                                    <tr>
                                                      {% for celda in fila %}
                                                      <td>{{celda}}</td>
                                                      {% endfor %}
                                                    </tr>
                                                    {% endfor %}
                                                  </tbody>
                                                </table>
                                            {% endif %}
                                            {% if value.7 %}

                                                {% for v in value.7 %}
                                                <div class="info-detalle">
                                                    <ul class="list-group">
                                                        <li class="list-group-item">
                                                            <strong>Cuenta con medios de transporte propio: </strong>{{v.0}}
                                                        </li>
                                                        <li class="list-group-item">
                                                            <strong>Estado mecánico de los medios: </strong>{{v.1}}
                                                        </li>
                                                    </ul>
                                                </div>
                                                {% endfor %}

                                            {% endif %}
                                            </div>
                                        </div>
                                    <!-- END TABLE HOVER ROWS -->
                                    </div>
                                </div>


                            </div>
                            <!--<div role="detalletabs" class="tab-pane" id="comercio{{year}}">
                                <div class="row">
                                    {% if value.8 %}
                                    <div class="col-md-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Información de comercialización</h3>
                                            </div>
                                            <div class="panel-body">
                                                <table class="table table-bordered  table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Mujeres (Corriente)</th>
                                                            <th>Hombres (Corriente)</th>
                                                            <th>Mujeres (Fermentado)</th>
                                                            <th>Hombres (Fermentado)</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for fila in value.8 %}
                                                        <tr>
                                                            {% for celda in fila %}
                                                            <td>{{celda}}</td>
                                                            {% endfor %}
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}

                                    {% if value.9 %}
                                    <div class="col-md-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Información de comercialización</h3>
                                            </div>
                                            <div class="panel-body">
                                                <table class="table table-bordered  table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Cacao seco comercializado</th>
                                                            <th>QQ</th>
                                                            <th>Certificación</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Corriente</td>
                                                            <td>{% for v in value.9 %}{{v.0}}{% endfor %}</td>
                                                            <td>{% for v in value.10 %}{{v.0}}{% endfor %}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Fermentado</td>
                                                            <td>{% for v in value.9 %}{{v.1}}{% endfor %}</td>
                                                            <td>{% for v in value.10 %}{{v.1}}{% endfor %}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>-->
                            <div role="detalletabs" class="tab-pane" id="destino{{year}}">
                                <div class="row">
                                    {% if value.11 %}
                                    <div class="col-md-6">
                                        <!-- START TABLE HOVER ROWS -->
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Corriente</h3>
                                            </div>
                                            <div class="panel-body">
                                                <table class="table table-bordered  table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Destino</th>
                                                            <th>% de entrega</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for fila in value.11 %}
                                                        <tr>
                                                            {% for celda in fila %}
                                                            <td>{{celda}}</td>
                                                            {% endfor %}
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!-- END TABLE HOVER ROWS -->
                                    </div>
                                    {% endif %}



                                    {% if value.12 %}
                                    <div class="col-md-6">
                                        <!-- START TABLE HOVER ROWS -->
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Fermentado</h3>
                                            </div>
                                            <div class="panel-body">
                                                <table class="table table-bordered  table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Destino</th>
                                                            <th>% de entrega</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for fila in value.12 %}
                                                        <tr>
                                                            {% for celda in fila %}
                                                            <td>{{celda}}</td>
                                                            {% endfor %}
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!-- END TABLE HOVER ROWS -->
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div role="detalletabs" class="tab-pane" id="financiamiento{{year}}">
                                    {% if value.13 %}
                                        <div class="col-md-12">
                                            <h4>
                                                <strong>
                                                    Brinda financiamiento a productores de cacao:
                                                </strong>
                                                    {{value.13}}
                                            </h4>
                                        </div>
                                    {% endif %}
                                    <div class="col-md-6">

                                    {% if value.14 %}
                                        <!-- START TABLE HOVER ROWS -->
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Tipo financiamiento</h3>
                                            </div>
                                            <div class="panel-body">
                                                <table class="table table-bordered  table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Tipo</th>
                                                            <th>Monto</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for fila in value.14 %}
                                                        <tr>
                                                            {% for celda in fila %}
                                                            <td>{{celda}}</td>
                                                            {% endfor %}
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!-- END TABLE HOVER ROWS -->
                                    {% endif %}
                                    </div>

                                    {% if value.15 %}
                                    <div class="col-md-6">
                                        <!-- START TABLE HOVER ROWS -->
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">¿Quién financia la organización?</h3>
                                            </div>
                                            <div class="panel-body">
                                                <table class="table table-bordered  table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Monto</th>
                                                            <th>Porcentaje (%)</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for fila in value.15 %}
                                                        <tr>
                                                            {% for celda in fila %}
                                                            <td>{{celda}}</td>
                                                            {% endfor %}
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!-- END TABLE HOVER ROWS -->
                                    </div>
                                    {% endif %}
                            </div>
                        </div>
                    </div>


                </div>
            </div>










            </div>
            {% endfor %}
          </div>
        </div>
</div>
{% include "productores/footer.html" %}
{% endblock %}

{% block extra_js %}
{% endblock %}
