{% extends "base.html" %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" id="theme" href="/static/admincss/theme-dark-head-light.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/admin2.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" media="screen" />

    

{% endblock extra_css %}
{% block content %}
{% include "organizaciones/menu_organizaciones.html" %}
    <div class="fondo">
        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
            <li><a href="/">Inicio</a></li>
            <li><a href="/organizaciones/">Organizaciones</a></li>                      
            <li class="active">Documentación</li>
        </ul>
        <!-- END BREADCRUMB -->                       
        <ul class="select-annos" >
            <li>
              <a >Años:</a>
            </li>

            {% for year in years.keys %}
                <li role="annos" class="{% if forloop.counter == 1 %}active{% endif %}" id="{{forloop.counter}}">
                  <a href="#{{year}}" class="update" aria-controls="{{year}}" role="tab" data-toggle="tab">{{year}}</a>
                </li>
            {% endfor %}
        </ul>

        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap">
            
            
            <div class="tab-content">
                {% for year,value in years.items %}
                <div role="tabpanel" class="tab-pane {% if forloop.counter == 1 %}active{% endif %}" id="{{year}}">
            
                    <div class="row">
                
                        <div class="col-md-8">
                            
                            <!-- START SALES BLOCK -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title-box">
                                        <h3>Documentación legal y estratégica</h3>
                                        <span>Porcentaje</span>
                                        
                                    </div>
                                </div>
                                <div class="panel-body">                                    
                                    <div class="row stacked">
                                        <div id="documentacion{{year}}" style="min-width: 345px; width: 800px; margin: 0 auto;"></div>
                                    </div>                                    
                                </div>
                            </div>
                            <!-- END SALES BLOCK -->
                            
                        </div>

                        <div class="col-md-4">
                            
                            <!-- START DATATABLE EXPORT -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Organizaciones</h3>
                                        <div class="btn-group pull-right">
                                            <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Exportar Datos</button>
                                            <ul class="dropdown-menu">
                                              
                                                <li><a href="#" onclick="exportarXLS('modalidad'); return false;"><img src='/static/img/icons/xls.png' width="24"/> XLS</a></li>
                                                
                                                
                                            </ul>
                                        </div>                                    
                                        
                                    </div>
                                    <div class="panel-body">
                                   
                                        <div class="table-responsive" id="modalidad">
                                        <table class="table table-bordered table-striped table-hover">
                                              <thead>
                                                <tr>
                                                  <th>Poseen documentación legal</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                {% for k in value.1.keys %}
                                                <tr>
                                                  <td><a href="" data-toggle="modal" data-target="#doc_modal{{forloop.counter}}{{year}}">{{k}}</a></td>
                                                </tr>
                                                {% endfor %}
                                              </tbody>
                                        </table>
                                            
                                      </div>                                    
                                        
                                    </div>
                                </div>
                                <!-- END DATATABLE EXPORT -->   
                            
                        </div>

                    </div>
                
                  
                  

                </div>
                <!-- modal -->
                {% for k,v in value.1.items %}

                <div class="modal fade" id="doc_modal{{forloop.counter}}{{year}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <div class="panel-title-box">
                                        <h3>Organizaciones que dijeron que '{{k}}':</h3>
                                        <span>Año {{year}}</span>
                                        
                                    </div>
                            </div>
                            <div class="modal-body">
                                <table class="table table-bordered table-striped table-hover">
                                    <thead>
                                        <tr>
                                            {% for x,y in v.items %}
                                            <th>{{x}}</th>
                                            {% endfor %}

                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            {% for x in v.values %}
                                            <td>
                                                {% for org in x  %}
                                                <li><a href="{% url 'detail-org' org.organizacion.slug %}">{{org}}</a></li>
                                                {% endfor %}</td>
                                                {% endfor %}
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                <!-- end modal --> 
                {% endfor %}
            </div>                    
            
            
            

            
        </div>
        <!-- END PAGE CONTENT WRAPPER -->   
    </div>


{% include "productores/footer.html" %}

{% endblock %}

{% block extra_js %}
<script type="text/javascript">
{% for year,value in years.items %}
$(function () {
	$('#documentacion{{year}}').highcharts({
		chart: {
			type: 'column'
		},
		title: {
			text: 'Documentación legal y estratégica'
		},
		xAxis: {
			categories: [{% for k,v in value.0.items %}
			{% for x,y in v.items %}

			'{{x}}',

			{% endfor %}
			{% endfor %}]
		},
		credits: {
			enabled: false
		},
		yAxis: {
			title: {
				text: 'Porcentajes'
			}

		},
		plotOptions: {
			series: {
				borderWidth: 0,
				dataLabels: {
					enabled: true,
					format: '{point.y}%'
				}
			}
		},

		tooltip: {
			headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
			pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}'
		},
		series: [
		{% for key,value in value.0.items %}
		{
			name: '{{key}}',
			data: [{% for x,y in value.items %}{{y}},{% endfor %}]
		},
		{% endfor %}

		]
	});
});
{% endfor %}
</script>
{% endblock %}
