{% extends "base.html" %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" id="theme" href="/static/admincss/theme-dark-head-light.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/admin2.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" media="screen" />

    

{% endblock extra_css %}
{% block content %}
{% include "organizaciones/menu_organizaciones.html" %}
    <div class="fondo">
        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
            <li><a href="/">Inicio</a></li>
            <li><a href="/organizaciones/">Organizaciones</a></li>                      
            <li class="active">Estatus legal</li>
        </ul>
        <!-- END BREADCRUMB -->                       
        <ul class="select-annos" >
            <li>
              <a >Años:</a>
            </li>

            {% for year in years.keys %}
                <li role="annos" class="{% if forloop.counter == 1 %}active{% endif %}" id="{{forloop.counter}}">
                  <a href="#{{year}}" class="update" aria-controls="{{year}}" role="tab" data-toggle="tab">{{year}}</a>
                </li>
            {% endfor %}
        </ul>

        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap">
            
            
            <div class="tab-content">
                {% for year,value in years.items %}
                <div role="tabpanel" class="tab-pane {% if forloop.counter == 1 %}active{% endif %}" id="{{year}}">
            
                    <div class="row">
                
                        <div class="col-md-8">
                            
                            <!-- START SALES BLOCK -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title-box">
                                        <h3>Estatus legal de la organización</h3>
                                        <span>Porcentaje</span>
                                        
                                    </div>
                                </div>
                                <div class="panel-body">                                    
                                    <div class="row stacked">
                                        <div id="status{{year}}" style="min-width: 310px; width: 540px; margin: 0 auto;"></div>
                                    </div>                                    
                                </div>
                            </div>
                            <!-- END SALES BLOCK -->
                            
                        </div>
                        <div class="col-md-4">
                            
                            <!-- START DATATABLE EXPORT -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Organizaciones</h3>
                                        <div class="btn-group pull-right">
                                            <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Exportar Datos</button>
                                            <ul class="dropdown-menu">
                                              
                                                <li><a href="#" onclick="exportarXLS('modalidad'); return false;"><img src='/static/img/icons/xls.png' width="24"/> XLS</a></li>
                                                
                                                
                                            </ul>
                                        </div>                                    
                                        
                                    </div>
                                    <div class="panel-body">
                                   
                                        <div class="table-responsive" id="modalidad">
                                            <table class="table table-bordered table-striped table-hover">
          
                                                  <thead>
                                                    <tr>
                                                      <th>Estatus legal</th>
                                                    </tr>
                                                  </thead>
                                                  <tbody>
                                                    {% for k,v in value.1.items  %}
                                                    <tr>
                                                      {% if v %}<td><a class="a-org" href="" data-toggle="modal" data-target="#modal{{forloop.counter}}{{year}}">{{k}}</a></td>{% endif %}
                                                    </tr>
                                                    {% endfor %}
                                                  </tbody>
                                            </table>
                                            
                                      </div>                                    
                                        
                                    </div>
                                </div>
                                <!-- END DATATABLE EXPORT -->   
                            
                        </div>

                    </div>
                
                  
                  

                </div>
                <!-- modal -->
                {% for k,v in value.1.items %}
                <div class="modal fade" id="modal{{forloop.counter}}{{year}}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">{{k}}</h4>
                            </div>
                            <div class="modal-body lista-org">
                                {% for org in v %}
                                <li><a href="{%  url 'detail-org' org.organizacion.slug %}">{{org}}</a></li>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- end modal --> 
                {% endfor %}
            </div>                    
            
            
            

            
        </div>
        <!-- END PAGE CONTENT WRAPPER -->   
    </div>


{% include "productores/footer.html" %}

{% endblock %}

{% block extra_js %}
<script type="text/javascript">
$(function () {
  {% for year,value in years.items %}
  $('#status{{year}}').highcharts({
    chart: {
      plotBackgroundColor: null,
      plotBorderWidth: null,
      plotShadow: false,
      type: 'pie'
    },
    title: {
      text: 'Estatus legal de la organización'
    },
    tooltip: {
      pointFormat: '{series.name}: <b>{point.y:.2f}%</b>'
    },
    plotOptions: {
      pie: {
        allowPointSelect: true,
        cursor: 'pointer',
        dataLabels: {
          enabled: true,
          format: '{point.percentage:.2f}%',
          color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
          style: {
            textShadow: '0 0 3px white'
          }
        },
        showInLegend: true
      }

    },
    series: [{
      name: "Porcentajes",
      colorByPoint: true,
      data: [
      {% for k,v in value.0.items %}
      {
        name: "{{k}}",
        y: {{v}}
      },
      {% endfor %}


      ]
    }]
  });
{% endfor %}
});
</script>
{% endblock %}
