{% extends "base.html" %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" id="theme" href="/static/admincss/theme-dark-head-light.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/admin2.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" media="screen" />

    

{% endblock extra_css %}
{% block content %}
{% include "organizaciones/menu_organizaciones.html" %}
    <div class="fondo">
        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
            <li><a href="/">Inicio</a></li>
            <li><a href="/organizaciones/">Organizaciones</a></li>                      
            <li class="active">Financiamiento para la organización</li>
        </ul>
        <!-- END BREADCRUMB -->                       
        <ul class="select-annos" >
            <li>
              <a >Años:</a>
            </li>

            {% for year in years.keys %}
                <li role="annos" class="{% if forloop.counter == 1 %}active{% endif %}" id="{{forloop.counter}}">
                  <a href="#{{year}}" class="update" aria-controls="{{year}}" role="tab" data-toggle="tab">{{year}}</a>
                </li>
            {% endfor %}
        </ul>

        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap">
            
            
            <div class="tab-content">
                {% for year,value in years.items %}
                <div role="tabpanel" class="tab-pane {% if forloop.counter == 1 %}active{% endif %}" id="{{year}}">
            
                    <div class="row">
                
                        <div class="col-md-12">
                            
                            <!-- START SALES BLOCK -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title-box">
                                        <h3>La organización brinda financiamiento para la producción</h3>
                                        <span>Porcentaje</span>
                                        
                                    </div>
                                </div>
                                <div class="panel-body">                                    
                                    <div class="row stacked">
                                        <div id="financiamiento{{year}}" style="min-width: 310px; width: 1000px; margin: 0 auto;"></div>
                                    </div>                                    
                                </div>
                            </div>
                            <!-- END SALES BLOCK -->
                            
                        </div>


                    </div>
                
                  
                  

                </div>

                {% endfor %}
            </div>                    
            
            
            

            
        </div>
        <!-- END PAGE CONTENT WRAPPER -->   
    </div>


{% include "productores/footer.html" %}

{% endblock %}

{% block extra_js %}
<script type="text/javascript">
$(function () {
  {% for year,value in years.items %}
  $('#financiamiento{{year}}').highcharts({
     chart: {
         type: 'column'
     },
     title: {
         text: '¿Quién financia la organización?'
     },
     yAxis: {
         title: {
             text: 'Valores'
         }
     },
     credits: {
         enabled: false
     },
     yAxis: {
             min: 0,
             title: {
                 text: 'Porcentajes (%)'
             }
         },
         tooltip: {
             formatter: function() {
                 return ''+
                     this.series.name +': '+ this.y +'%';
             }
         },
     series: [
             {% for k,v in value.items %}
             {
                 name: '{{k}}',
                 data: [{{v}}],
                 dataLabels: {
                     enabled: true,
                     rotation: 0,
                     align: 'center',
                     x: -3,
                     y: 0,
                         formatter: function() {
                             return this.y + '%';
                                               },
                             }
             },
             {% endfor %}
             ]
  });
  {% endfor %}
});
</script>
{% endblock %}
