{% extends "base.html" %}

{% block content %}
<div id="tabs">
  <!-- Nav tabs -->
  <ul class="nav" role="navegacion">
    <li role="titulo">
      <a >Años:</a>
    </li>

    {% for year in years.keys %}
    <li role="annos" class="{% if forloop.counter == 1 %}active{% endif %}" id="{{forloop.counter}}">
      <a href="#{{year}}" class="update" aria-controls="{{year}}" role="tab" data-toggle="tab">{{year}}</a>
    </li>
    {% endfor %}
  </ul>

  <div class="tab-content">
    {% for year,value in years.items %}
    <div role="tabpanel" class="tab-pane {% if forloop.counter == 1 %}active{% endif %}" id="{{year}}">
      <div id="financiamiento{{year}}" style="min-width: 310px; width: 540px; margin: 0 auto;"></div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
$(function () {
  {% for year,value in years.items %}
  $('#financiamiento{{year}}').highcharts({
    chart: {
      plotBackgroundColor: null,
      plotBorderWidth: null,
      plotShadow: false,
      type: 'pie'
    },
    title: {
      text: 'financiamiento a productores de cacao'
    },
    tooltip: {
      pointFormat: '{series.name}: <b>{point.percentage:.2f}%</b>'
    },
    plotOptions: {
      pie: {
        allowPointSelect: true,
        cursor: 'pointer',
        dataLabels: {
          enabled: true,
          format: '{point.percentage:.2f}%',
          color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
          style: {
            textShadow: '0 0 3px white'
          }
        },
        showInLegend: true
      }

    },

    series: [{
      name: "Porcentajes",
      colorByPoint: true,
      data: [
        {% for k,v in value.0.items %}
        {
          name: "{{k}}",
          y: {{v}}
        },
        {% endfor %}
      ]
    }]
  });
  {% endfor %}
});
</script>
{% endblock %}
